* {
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;

    outline: none;
}

a:hover,a:active{
    color:#717171
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    position:relative
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container{
    list-style:none
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
    font-size:.875rem;
    font-weight:500;
    line-height:1.75rem;
    color:#000
}
@media screen and (max-width: 991px){
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
        font-size:1.25rem;
        font-weight:300;
        line-height:2.1875rem
    }
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category .wbx-globe img{
    max-width:17px;
    display:inline-block;
    margin-right:9px;
    top:3px;
    position:relative
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list{
    list-style:none;
    font-size:.875rem;
    font-weight:500;
    line-height:1.75rem;
    color:#000
}
@media screen and (max-width: 991px){
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list{
        font-size:1.25rem;
        font-weight:300;
        line-height:2.1875rem
    }
}
#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item{
    font-size:.875rem;
    font-weight:300;
    line-height:1.75rem;
    position:relative
}
@media screen and (max-width: 991px){
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item{
        font-size:1rem;
        font-weight:300;
        line-height:1.75rem
    }
}
#wbx-footer #wbx-footer-rs{
    margin-top:40px;
    background:#fafafa;
    border-top:1px solid #e4e4e4;
    padding:15px 0
}
#wbx-footer #wbx-footer-rs .container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:0px
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-legal{
    font-size:.795rem;
    font-weight:400;
    line-height:1.75rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-legal .copyright{
    opacity:0.7
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-legal .wbx-footer-legal-list{
    list-style:none
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-legal .wbx-footer-legal-list .wbx-footer-legal-item{
    float:left;
    margin-left:15px
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-social{
    float:left;
    font-size:.875rem;
    font-weight:400;
    line-height:1.75rem;
    text-align:right
}
@media screen and (max-width: 991px){
    #wbx-footer #wbx-footer-rs .container .wbx-footer-social{
        font-size:1rem;
        font-weight:400;
        line-height:1.75rem;
        color:#000
    }
}
#wbx-footer #wbx-footer-rs .container .wbx-footer-social .wbx-icon{
    font-size:1.25rem;
    margin-left:15px
}
@media screen and (min-width: 992px){
    #wbx-footer #wbx-footer-links{
        padding-top:50px;
        border-top:1px solid #e4e4e4
    }
    #wbx-footer #wbx-footer-links .region-select-list{
        background:#fff;
        position:absolute;
        bottom:66px;
        padding:25px;
        border:1px solid #c5c5c5;
        -webkit-border-radius:6px;
        border-radius:6px;
        -webkit-box-shadow:0 -3px 25px rgba(0,0,0,0.25);
        box-shadow:0 -3px 25px rgba(0,0,0,0.25);
        width:208px;
        left:-14px
    }
    #wbx-footer #wbx-footer-links .region-select-list::after{
        content:' ';
        display:block;
        position:absolute;
        bottom:-13px;
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
        right:87px;
        width:30px;
        height:13px;
        background:url(../images/header-popup-arrow.png) no-repeat;
        z-index:9999
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper{
        width:17%;
        float:left
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper.wbx-footer-legal-secondary{
        display:none
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container.collapsed .wbx-footer-links-category .wbx-region-name::after{
        top:25%;
        -webkit-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
        transform:rotate(135deg)
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name{
        position:relative
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name::after{
        content:'';
        display:inline-block;
        width:0.46rem;
        height:0.46rem;
        border-top:0.093rem solid #000;
        border-right:0.093rem solid #000;
        position:absolute;
        top:40%;
        right:-15px;
        -webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        transform:rotate(-45deg);
        -webkit-transition:all 100ms ease-in-out, margin 100ms ease-in-out;
        -o-transition:all 100ms ease-in-out, margin 100ms ease-in-out;
        transition:all 100ms ease-in-out, margin 100ms ease-in-out
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name::after{
        top:40%;
        -webkit-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        transform:rotate(-45deg)
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
        margin-bottom:23px
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper.region{
        margin-left:100px
    }
    #wbx-footer #wbx-footer-rs{
        margin-top:45px;
        background:#fafafa;
        border-top:1px solid #e4e4e4
    }
}
@media screen and (max-width: 991px){
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container.animated .wbx-footer-links-list .wbx-footer-links-list-item{
        -webkit-transition:opacity .3s, max-height .3s;
        -o-transition:opacity .3s, max-height .3s;
        transition:opacity .3s, max-height .3s
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
        border-top:1px solid rgba(25,25,25,0.15);
        line-height:50px !important;
        cursor:pointer;
        margin-bottom:0px
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category:after{
        content:' ';
        display:block;
        position:absolute;
        top:20px;
        -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
        width:20px;
        height:13px;
        right:15px;
        -webkit-transition:.3s;
        -o-transition:.3s;
        transition:.3s;
        background:url(../images/footer-popup-arrow.png) no-repeat
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list{
        padding-left:30px
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item{
        line-height:50px !important;
        opacity:1;
        max-height:50em;
        margin:0
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container.collapsed .wbx-footer-links-category:after{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container.collapsed .wbx-footer-links-list .wbx-footer-links-list-item{
        opacity:0;
        max-height:0em
    }
    #wbx-footer #wbx-footer-rs{
        margin-top:0
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal{
        width:100%;
        -webkit-box-ordinal-group:4;
        -webkit-order:3;
        -ms-flex-order:3;
        order:3;
        margin-bottom:31px
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal-list{
        display:none
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-social{
        -webkit-box-ordinal-group:3;
        -webkit-order:2;
        -ms-flex-order:2;
        order:2;
        width:100%;
        text-align:center;
        margin:31px 0 35px
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-social .wbx-icon{
        margin:0 19px
    }
    #wbx-footer #wbx-footer-rs .container .copyright{
        text-align:center;
        width:100%
    }
}


a:hover,
a:active {
    color: #717171
}



.js-tab-focus {
    outline: #80CDF1 solid 2px !important;
    outline-offset: 1px !important
}

#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category:focus {
    outline: none;
}

#wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category .wbx-globe img {
    top: -1px;
}

@media (min-width: 992px) {
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name {
        color: #000;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name:hover,
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name:active {
        color: #717171;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .region-select-list {
        line-height: 48px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item a {
        color: #000;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item a:hover,
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item a:active {
        color: #717171;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal .copyright {
        color: #000;
    }

    #wbx-footer #wbx-footer-rs .container .wbx-footer-social .wbx-icon {
        font-size: 15px;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal .wbx-footer-legal-list .wbx-footer-legal-item a:hover,
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal .wbx-footer-legal-list .wbx-footer-legal-item a:active {
        color: #717171;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal .wbx-footer-legal-list .wbx-footer-legal-item a {
        color:  #0f0d0d;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal{
        margin-left: 10px;
    }
    #wbx-footer #wbx-footer-rs{
        margin-top: 50px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
        margin-bottom: 18px;
    }
    #wbx-footer #wbx-footer-links .region-select-list::after{
        right: 37px;
    }
}

@media (min-width: 768px) {
    #wbx-footer .footer-tell span {
        text-decoration: none;
        outline: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        font-family: CiscoSansTT;
        font-style: normal;
        font-stretch: normal;
        color: #222;
        text-align: left;
        letter-spacing: normal;
    }

}

@media (max-width: 991px) {
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category {
        border-top: none;
        font-size: 16px;
        color: #0f0d0d;
    }
    #wbx-footer-links>.container {
        padding-right: 0px;
        padding-left: 0px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        border-top: 1px solid rgba(25, 25, 25, 0.15);
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category {
        font-family: CiscoSansTT;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 70px !important;
        letter-spacing: normal;
        text-align: left;
        color: #0f0d0d;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category:after{
        top:30px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list{
        margin-bottom: 30px;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-social .wbx-icon{
        font-size: 18px;
    }
    #wbx-footer #wbx-footer-rs .container .wbx-footer-legal .copyright{
        opacity: 0.7;
        font-family: CiscoSansTT;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 767px) {
    #wbx-footer #wbx-footer-rs .container .copyright {
        font-size: 14px;
        color: #000;
        line-height: 21px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list{
        margin-bottom: 30px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item a {
        font-family: CiscoSansTT;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #0f0d0d;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item a:active {
        opacity: 0.7;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item.footer-tell a{
        text-align: left;

    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-list .wbx-footer-links-list-item{
        line-height: 2 !important;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category:after {
        width: 14px;
        height: 8px;
        background-size: cover;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category{
        font-weight: normal;
        line-height: 75px !important;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-footer-links-category:after{
        top:30px;
    }
    #wbx-footer #wbx-footer-links .wbx-footer-links-wrapper .wbx-footer-links-container .wbx-region-name {
        color: #0f0d0d;
    }
}



.wbx-noscroll .LPMcontainer.LPMoverlay,
.wbx-noscroll #lpChat {
    display: none !important;
}

@media (min-width: 1080px) {
    .LPMcontainer.LPMoverlay {
        left: 50% !important;
        right: auto !important;
        margin-left: 490px !important;
    }
}

@media (min-width: 992px) and (max-width: 1079px) {
    .LPMcontainer.LPMoverlay {
        left: 50% !important;
        right: auto !important;
        margin-left: 430px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .LPMcontainer.LPMoverlay {
        left: 50% !important;
        right: auto !important;
        margin-left: 314px !important;
    }
}

@media (max-width: 767px) {
    .LPMcontainer.LPMoverlay {
        right: 10px !important;
    }
}
