  .outline-button.default.jsx-3998797232:hover a.jsx-3998797232 {
            background-color: #333;
            color: #fff;
        }

        .outline-button.default.jsx-3998797232 a.jsx-3998797232 {
            position: relative;
            display: block;
            border: 1px solid;
            color: #333;
            padding: 7px 18px;
            font-size: 16px;
            vertical-align: middle;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 300;
        }

        .outline-button.default.jsx-3998797232 a.loading.jsx-3998797232 {
            cursor: default;
        }

        .outline-button.default.jsx-3998797232 a.jsx-3998797232 .content.loading.jsx-3998797232 {
            opacity: 0;
        }

        .outline-button.default.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
            padding: 8px 16px;
        }

        .outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
            color: #fff;
            border-color: #fff;
        }

        .outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
            color: #00a9ff;
            background-color: #fff;
        }

        .outline-button.circled.jsx-3998797232:hover a.jsx-3998797232 {
            background-color: #333;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #333;
        }

        .outline-button.circled.jsx-3998797232 a.jsx-3998797232 {
            display: block;
            border: 1px solid;
            border-radius: 24px;
            color: #333;
            padding: 8px 24px;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 300;
        }

        .outline-button.circled.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
            padding: 8px 16px;
        }

        .outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
            color: #fff;
            border-color: #fff;
        }

        .outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
            color: #00a9ff;
            background-color: #fff;
        }

        .outline-button.textual.jsx-3998797232:hover a.jsx-3998797232 {
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        .outline-button.textual.jsx-3998797232 a.jsx-3998797232 {
            display: block;
            color: #333;
            padding: 10px 0;
            font-size: 18px;
            vertical-align: middle;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 300;
        }

        .outline-button.textual.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
            padding: 10px 0;
        }

        .outline-button.textual.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
            color: #fff;
        }

        .outline-button.default:hover a svg circle {
            stroke: white;
        }

        .outline-button.default a .spinner {
            position: absolute;
            left: calc(50% - 12px);
            top: calc(50% - 12px);
        }

        .menu-component.jsx-930398070 {
            position: relative;
        }

        .menu-component.jsx-930398070 .button-wrapper.jsx-930398070 {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .menu-component.jsx-930398070 .menu-content-wrapper.jsx-930398070 {
            position: absolute;
        }

        .use-cases.jsx-1511252560 .menu-content-component {
            width: 456px;
        }

        .navbar-menu {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }

        .top-header-link-wrapper, .top-header-login-link-wrapper {
            margin-left: 24px;
        }

        .top-header-link-wrapper .outline-button.textual a.top-bar-link div.content, .top-header-login-link-wrapper .outline-button.textual a.top-bar-link div.content {
            font-weight: 400;
            font-size: 16px;
            font-family: sofia-pro, sans-serif;
        }

        .top-header-link-wrapper .outline-button.textual:hover a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:hover a.top-bar-link {
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        .top-header-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link {
            -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all;
        }

        .top-header-link-wrapper:first-child .outline-button.textual a:hover, .top-header-link-wrapper:first-child .outline-button.textual a.selected {
            color: #A358DF;
        }

        .top-header-link-wrapper:nth-child(2) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(2) .outline-button.textual a.selected {
            color: #00CC6F;
        }

        .top-header-link-wrapper:nth-child(3) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(3) .outline-button.textual a.selected {
            color: #ff0476;
        }

        .top-header-link-wrapper:nth-child(4) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(4) .outline-button.textual a.selected {
            color: #00A9FF;
        }

        .top-header-login-link-wrapper .outline-button.circled a.login-top-bar {
            font-size: 16px;
        }

        .top-header-login-link-wrapper .outline-button.circled a.login-top-bar div {
            font-family: sofia-pro, sans-serif;
        }

        .top-header-login-link-wrapper .outline-button.circled:hover a.login-top-bar {
            border-color: #A358DF;
            background-color: transparent;
            color: #A358DF;
        }

        nav.navbar.jsx-3980414583 {
            position: fixed;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100vw;
            padding: 12px;
            z-index: 555;
            -webkit-transition: padding 0.2s ease-in-out;
            transition: padding 0.2s ease-in-out;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        nav.navbar.jsx-3980414583 .top-bar-content.jsx-3980414583 {
            width: 100%;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin: auto;
        }

        nav.navbar.sticky-mode.jsx-3980414583 {
            position: static;
        }

        nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        nav.navbar.jsx-3980414583 .social-share-buttons-wrapper.jsx-3980414583 {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }

        nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) {
            background-color: #fff !important;
            border-bottom-color: #ccc;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 8px;
        }

        nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) .logo-wrapper.jsx-3980414583 .homepage-logo.jsx-3980414583 svg {
            width: 167px;
        }

        .navbar-padding.jsx-3980414583 {
            height: 65px;
        }

        .navbar-padding.sticky-mode.jsx-3980414583 {
            display: none;
        }

        .navbar-padding.top-banner.jsx-3980414583 {
            height: 100px;
        }

        nav.navbar .homepage-logo {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 16px;
        }

        nav.navbar .homepage-logo svg {
            -webkit-transition: width 0.2s ease-in-out;
            transition: width 0.2s ease-in-out;
            width: 167px;
        }

        nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .m-shapes {
            fill: #fff;
        }

        nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .m-shapes {
            fill: #333;
        }

        nav.navbar:not(.scroll-mode) .homepage-logo.light-color-theme svg .text-shapes {
            fill: #fff;
        }

        .hamburger-menu.jsx-1699065342 {
            width: 28px;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            cursor: pointer;
            z-index: 667;
            margin-left: 24px;
            margin-right: 8px;
            height: 36px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .hamburger-menu.jsx-1699065342 span.jsx-1699065342 {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #333;
            border-radius: 4px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
            top: 8px;
        }

        .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(2), .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
            top: 17px;
        }

        .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
            top: 26px;
        }

        .hamburger-menu.open.jsx-1699065342 span.jsx-1699065342 {
            background-color: #333;
        }

        .hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        .hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        .picture-component.blur-image.jsx-291256668 img.jsx-291256668 {
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }

        .side-menu-mobile.jsx-1410744371 {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 65px;
            left: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
            transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
            opacity: 0;
            z-index: -1;
            -webkit-transform: translate(-100%);
            -ms-transform: translate(-100%);
            transform: translate(-100%);
        }

        .side-menu-mobile.open.jsx-1410744371 {
            -webkit-transform: translate(0);
            -ms-transform: translate(0);
            transform: translate(0);
            opacity: 1;
            z-index: 0;
        }

        .side-menu-mobile.open.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
            opacity: 1;
        }

        .side-menu-mobile.scroll-mode.jsx-1410744371 {
            top: 58px;
        }

        .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #ff0476;
            z-index: 1000;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
        }

        .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 24px;
        }

        .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
            margin: 16px 0;
            display: block;
            color: #fff;
            font-weight: 300;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 40px;
        }

        .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 24px;
        }

        .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 .download-app-wrapper.jsx-1410744371 {
            cursor: pointer;
        }

        @media (max-width: 450px) {
            .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
                font-size: 24px;
                margin: 8px 0;
            }
        }

        .side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper {
            margin: 0 8px;
        }

        .side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper img {
            width: 45vw;
            max-width: 200px;
        }

        .side-menu-mobile-dialog section.buttom-bottons .decoration svg {
            width: 40px;
        }

        .side-menu-mobile-dialog section.buttom-bottons .decoration svg rect {
            fill: #fff;
        }

        @media (max-width: 768px) {
            nav.navbar, nav.navbar.scroll-mode {
                padding: 12px 8px;
            }

            nav.navbar .logo-wrapper .homepage-logo, nav.navbar.scroll-mode .logo-wrapper .homepage-logo {
                padding: 0 8px;
            }

            nav.navbar .logo-wrapper .homepage-logo svg, nav.navbar.scroll-mode .logo-wrapper .homepage-logo svg {
                width: 167px;
            }

            .navbar-padding {
                height: 54px;
            }

            .social-share-buttons-wrapper {
                display: none;
            }

            nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg path {
                fill: #fff;
            }

            nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg path {
                fill: #333;
            }
        }

        .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
            display: none;
        }

        @media (max-width: 769px) {
            .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
                display: none;
            }

            .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
                display: block;
            }
        }

        .body.jsx-2362733203 {
            font-size: 16px;
            padding-top: 16px;
            width: 100%;
        }

        .body.jsx-2362733203 div.jsx-2362733203 {
            line-height: 27px;
        }

        .paragraph-component {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }

        .paragraph-component.center {
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
        }

        .paragraph-component.center .topic, .paragraph-component.center .title, .paragraph-component.center .body {
            max-width: 650px;
        }

        .paragraph-component.right {
            -webkit-align-items: flex-end;
            -webkit-box-align: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
        }

        .paragraph-component.left {
            -webkit-align-items: flex-start;
            -webkit-box-align: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
        }

        .paragraph-component .topic {
            font-size: 16px;
            margin-bottom: 16px;
            font-weight: 500;
        }

        .paragraph-component .title .colorful-title, .paragraph-component .title .colored {
            line-height: 1.3;
            font-size: 40px;
            font-weight: 700;
        }

        @media (max-width: 768px) {
            .paragraph-component .title .colored, .paragraph-component .title .colorful-title {
                font-size: 32px;
            }
        }

        .asset-inner {
            position: relative;
        }

        .asset-inner .main-image {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .asset-inner .main-image.round {
            border-radius: 50%;
        }

        .asset-inner.with-shadow {
            box-shadow: 0px 2px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .paragaph-and-asset-columns.jsx-2273645674 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
            max-width: 45%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 .signup-wrapper.jsx-2273645674 {
            margin-top: 16px;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
            max-width: 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
        }

        .paragaph-and-asset-columns.asset-left.jsx-2273645674 .top-line.jsx-2273645674 {
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }

        @media (max-width: 768px) {
            .paragaph-and-asset-columns.jsx-2273645674 {
                height: auto;
            }

            .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
                -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                margin-bottom: 48px;
                max-width: 100%;
            }

            .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
                -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .base-layout-segment-component.jsx-3954512829 {
            box-sizing: content-box;
        }

        .base-layout-segment-component.jsx-3954512829 .segment-content-container.jsx-3954512829 {
            max-width: 1050px;
            margin: auto;
        }

        @media (max-width: 1050px) {
            .base-layout-segment-component.jsx-3954512829 {
                padding: 0 24px;
            }
        }

        input.jsx-2959308043 {
            min-width: 240px;
            max-width: 320px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        @media (max-width: 991px) {
            input.jsx-2959308043 {
                min-width: 120px;
                max-width: none;
                width: 100%;
            }
        }

        button.ladda-button {
            padding: 16px 32px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 40px;
            border: none;
            font-weight: 400;
            outline: none;
            text-align: center;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        button.ladda-button[data-style="zoom-in"]:not(:hover) {
            -webkit-transition: 0.2s ease background-color;
            transition: 0.2s ease background-color;
        }

        button.ladda-button:disabled {
            cursor: auto;
        }

        button.ladda-button img {
            vertical-align: middle;
        }

        button.ladda-button.blue {
            background-color: #00a9ff;
            color: #fff;
        }

        button.ladda-button.blue:hover {
            background-color: #0087CC;
        }

        button.ladda-button.blue:disabled {
            background-color: #0087CC;
        }

        button.ladda-button.outline-blue {
            border-width: 1px;
            border-style: solid;
            background-color: #fff;
            color: #00a9ff;
        }

        button.ladda-button.outline-blue:hover {
            background-color: #fff;
        }

        button.ladda-button.outline-blue:disabled {
            background-color: #fff;
        }

        button.ladda-button.brand-pink {
            background-color: #ff0476;
            color: #fff;
        }

        button.ladda-button.brand-pink:hover {
            background-color: #b70053;
        }

        button.ladda-button.brand-pink:disabled {
            background-color: #b70053;
        }

        button.ladda-button.brand-blue {
            background-color: #00A9FF;
            color: #fff;
        }

        button.ladda-button.brand-blue:hover {
            background-color: #0087CC;
        }

        button.ladda-button.brand-blue:disabled {
            background-color: #0087CC;
        }

        button.ladda-button.brand-iris {
            background-color: #595ad4;
            color: #fff;
        }

        button.ladda-button.brand-iris:hover {
            background-color: #3335c7;
        }

        button.ladda-button.brand-red {
            background-color: #FB275D;
            color: #fff;
        }

        button.ladda-button.brand-red:hover {
            background-color: #c12c52;
        }

        button.ladda-button.brand-red:disabled {
            background-color: #c12c52;
        }

        button.ladda-button.brand-green {
            background-color: #00CC6F;
            color: #fff;
        }

        button.ladda-button.brand-green:hover {
            background-color: #099655;
        }

        button.ladda-button.brand-green:disabled {
            background-color: #099655;
        }

        button.ladda-button.brand-yellow {
            background-color: #FFCC00;
            color: #fff;
        }

        button.ladda-button.brand-yellow:hover {
            background-color: #b79407;
        }

        button.ladda-button.brand-yellow:disabled {
            background-color: #b79407;
        }

        button.ladda-button.small {
            font-size: 14px;
            padding: 12px 9vw;
            font-weight: 300;
        }

        button.ladda-button.sm {
            font-size: 14px;
            padding: 20px 32px;
            font-weight: 300;
        }

        button.ladda-button.xl {
            font-size: 18px;
            padding: 16px 120px;
            font-weight: 400;
        }

        .ladda-button {
            position: relative;
        }

        .ladda-button .ladda-spinner {
            position: absolute;
            z-index: 2;
            display: inline-block;
            width: 32px;
            top: 50%;
            margin-top: 0;
            opacity: 0;
            pointer-events: none;
        }

        .ladda-button .ladda-label {
            position: relative;
            z-index: 3;
        }

        .ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
            -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
        }

        .ladda-button[data-style="zoom-in"], .ladda-button[data-style="zoom-in"] .ladda-spinner, .ladda-button[data-style="zoom-in"] .ladda-label, .ladda-button[data-style="zoom-out"], .ladda-button[data-style="zoom-out"] .ladda-spinner, .ladda-button[data-style="zoom-out"] .ladda-label {
            -webkit-transition: 0.3s ease all;
            transition: 0.3s ease all;
        }

        .ladda-button[data-style="zoom-out"] {
            overflow: hidden;
        }

        .ladda-button[data-style="zoom-out"] .ladda-spinner {
            left: 50%;
            margin-left: 32px;
            -webkit-transform: scale(2.5);
            -ms-transform: scale(2.5);
            transform: scale(2.5);
        }

        .ladda-button[data-style="zoom-out"] .ladda-label {
            position: relative;
            display: inline-block;
        }

        .ladda-button[data-style="zoom-out"][data-loading] .ladda-label {
            opacity: 0;
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            transform: scale(0.5);
        }

        .ladda-button[data-style="zoom-out"][data-loading] .ladda-spinner {
            opacity: 1;
            margin-left: 0;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
        }

        .ladda-button[data-style="zoom-in"] {
            overflow: hidden;
        }

        .ladda-button[data-style="zoom-in"] .ladda-spinner {
            left: 50%;
            margin-left: -16px;
            -webkit-transform: scale(0.2);
            -ms-transform: scale(0.2);
            transform: scale(0.2);
        }

        .ladda-button[data-style="zoom-in"] .ladda-label {
            position: relative;
            display: inline-block;
        }

        .ladda-button[data-style="zoom-in"][data-loading] .ladda-label {
            opacity: 0;
            -webkit-transform: scale(2.2);
            -ms-transform: scale(2.2);
            transform: scale(2.2);
        }

        .ladda-button[data-style="zoom-in"][data-loading] .ladda-spinner {
            opacity: 1;
            margin-left: 0;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
        }

        .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .signup-form-core-component-wrapper.jsx-1388203185 .phoneno.jsx-1388203185 {
            display: none;
        }

        .signup-form-core-component-wrapper.align-left.jsx-1388203185 form.jsx-1388203185 {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        @media (max-width: 991px) {
            .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }

        .signup-form-core-component-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
        }

        .signup-form-core-component-wrapper input {
            font-size: 16px;
            padding: 16px 24px;
            -webkit-appearance: none;
            background-color: #f5f5f5;
            color: #333;
            border: 1px solid;
            border-color: #ccc;
            outline: none;
            text-align: left;
            -webkit-transition: border-color 0.1s ease-in-out;
            transition: border-color 0.1s ease-in-out;
            margin: 8px 16px 8px 0;
        }

        .signup-form-core-component-wrapper input:hover::-webkit-input-placeholder, .signup-form-core-component-wrapper input:focus::-webkit-input-placeholder {
            color: #00a9ff;
        }

        .signup-form-core-component-wrapper input:hover::-moz-placeholder, .signup-form-core-component-wrapper input:focus::-moz-placeholder {
            color: #00a9ff;
        }

        .signup-form-core-component-wrapper input:hover:-ms-input-placeholder, .signup-form-core-component-wrapper input:focus:-ms-input-placeholder {
            color: #00a9ff;
        }

        .signup-form-core-component-wrapper input:hover::placeholder, .signup-form-core-component-wrapper input:focus::placeholder {
            color: #00a9ff;
        }

        .signup-form-core-component-wrapper input:focus {
            border-color: #00a9ff;
            background-color: #fff;
        }

        .signup-form-core-component-wrapper.error input, .signup-form-core-component-wrapper.error input:focus {
            border-color: red;
        }

        .signup-form-core-component-wrapper button.ladda-button.sm {
            font-size: 16px;
        }

        @media (max-width: 991px) {
            .signup-form-core-component-wrapper {
                text-align: center;
            }

            .signup-form-core-component-wrapper input {
                margin-bottom: 16px;
                font-size: 16px;
                padding: 16px 48px;
                margin-right: 0;
                text-align: center;
            }

            .signup-form-core-component-wrapper .signup-button-wrapper {
                width: 100%;
            }

            .signup-form-core-component-wrapper .signup-button-wrapper button {
                font-size: 16px;
                padding: 16px 48px;
                width: 100%;
            }
        }

        @-webkit-keyframes shake-jsx-1673610358 {
            10%, 90% {
                -webkit-transform: translate3d(-1px, 0, 0);
                -ms-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
            }
            20%, 80% {
                -webkit-transform: translate3d(2px, 0, 0);
                -ms-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
            }
            30%, 50%, 70% {
                -webkit-transform: translate3d(-4px, 0, 0);
                -ms-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
            }
            40%, 60% {
                -webkit-transform: translate3d(4px, 0, 0);
                -ms-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
            }
        }

        @keyframes shake-jsx-1673610358 {
            10%, 90% {
                -webkit-transform: translate3d(-1px, 0, 0);
                -ms-transform: translate3d(-1px, 0, 0);
                transform: translate3d(-1px, 0, 0);
            }
            20%, 80% {
                -webkit-transform: translate3d(2px, 0, 0);
                -ms-transform: translate3d(2px, 0, 0);
                transform: translate3d(2px, 0, 0);
            }
            30%, 50%, 70% {
                -webkit-transform: translate3d(-4px, 0, 0);
                -ms-transform: translate3d(-4px, 0, 0);
                transform: translate3d(-4px, 0, 0);
            }
            40%, 60% {
                -webkit-transform: translate3d(4px, 0, 0);
                -ms-transform: translate3d(4px, 0, 0);
                transform: translate3d(4px, 0, 0);
            }
        }

        .shake.jsx-1673610358 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .shake.active.jsx-1673610358 {
            -webkit-animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
        .base-signup-form-component {
            position: relative;
        }

        .base-signup-form-component .error-tooltip-text {
            color: red;
            font-weight: 300;
        }

        .base-signup-form-component .tooltip {
            -webkit-transform: translate(116%, -120%);
            -ms-transform: translate(116%, -120%);
            transform: translate(116%, -120%);
        }

        @media (max-width: 991px) {
            .base-signup-form-component .tooltip {
                -webkit-transform: translate(5%, -120%);
                -ms-transform: translate(5%, -120%);
                transform: translate(5%, -120%);
            }
        }
        .signup-form-with-decorations-component {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
            margin: 0 48px;
        }

        .signup-form-with-decorations-component .left-decoration {
            position: absolute;
            left: 0px;
            top: 50%;
            width: 40px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .signup-form-with-decorations-component .right-decoration {
            position: absolute;
            right: 0px;
            top: 50%;
            width: 40px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .signup-form-with-decorations-component .right-decoration svg, .signup-form-with-decorations-component .left-decoration svg {
            width: 100%;
        }

        @media (max-width: 450px) {
            .signup-form-with-decorations-component .base-signup-form-wrapper, .signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
                margin: 0;
            }

            .signup-form-with-decorations-component .left-decoration, .signup-form-with-decorations-component .right-decoration {
                display: none;
            }
        }
        .simple-colorful-title-with-signup-component {
            text-align: center;
        }

        .simple-colorful-title-with-signup-component .title-wrapper .colorful-title {
            font-weight: 700;
        }

        .simple-colorful-title-with-signup-component .title-wrapper .colorful-title span {
            font-weight: 700;
        }

        .simple-colorful-title-with-signup-component .subtitle-wrapper {
            margin-top: 16px;
        }

        .simple-colorful-title-with-signup-component .subtitle-wrapper h2 {
            font-size: 20px;
        }

        .simple-colorful-title-with-signup-component .signup-form-with-decorations-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 24px;
        }
        .customer-success-component {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: space-around;
            -webkit-justify-content: space-around;
            -ms-flex-pack: space-around;
            justify-content: space-around;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line {
            box-sizing: content-box;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-pack: end !important;
            -webkit-justify-content: flex-end !important;
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line .paragraph-component .title .colorful-title {
            font-size: 24px;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line .paragraph-component .title .colorful-title .colored {
            font-size: 24px;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line .asset-column {
            margin-bottom: 32px;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line .content-column, .customer-success-component .paragaph-and-asset-columns .top-line .asset-column {
            max-width: 100% !important;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line .asset-inner img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 991px) {
            .customer-success-component .paragaph-and-asset-columns {
                width: 100%;
                text-align: center;
            }

            .customer-success-component .paragaph-and-asset-columns .top-line {
                text-align: center;
                margin: 32px auto;
                width: 100% !important;
            }
        }

        @media (max-width: 768px) {
            div.customer-success-component div.paragaph-and-asset-columns div.top-line {
                -webkit-flex-direction: column-reverse !important;
                -ms-flex-direction: column-reverse !important;
                flex-direction: column-reverse !important;
            }
        }
        .bottom-link-wrapper.jsx-1726512980 {
            margin-top: 24px;
        }

        .bottom-link-wrapper.jsx-1726512980 a.jsx-1726512980 {
            color: #333;
        }

        .bottom-link-wrapper.jsx-1726512980 a.jsx-1726512980:hover {
            color: #A358DF;
        }
        .button-link-component.jsx-2207478475 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .button-link-component.jsx-2207478475 a.jsx-2207478475 {
            position: relative;
            padding: 16px 32px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 40px;
            color: #fff;
            border: none;
            font-weight: 400;
            outline: none;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
        }

        .button-link-component.jsx-2207478475 a.jsx-2207478475:not(:hover) {
            -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all;
        }

        .button-link-component.jsx-2207478475 a.jsx-2207478475:hover {
            -webkit-filter: brightness(90%);
            filter: brightness(90%);
        }

        .button-link-component.jsx-2207478475 a.loading.jsx-2207478475 {
            cursor: default;
        }

        .button-link-component.jsx-2207478475 a.jsx-2207478475 .spinner {
            position: absolute;
            left: calc(50% - 12px);
            top: calc(50% - 12px);
        }
        .button-with-animation-component.jsx-2648936991 {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .button-with-animation-component.jsx-2648936991 .inline-flex-wrapper.jsx-2648936991 {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
        }

        .button-with-animation-component.left.jsx-2648936991 {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .button-with-animation-component.right.jsx-2648936991 {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

        .button-with-animation-component.jsx-2648936991 .lottie-animation-wrapper.jsx-2648936991 {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
            width: 150px;
            position: absolute;
            -webkit-transform: translateX(95%) translateY(30px);
            -ms-transform: translateX(95%) translateY(30px);
            transform: translateX(95%) translateY(30px);
            top: 0;
            right: 0;
        }

        .button-with-animation-component.jsx-2648936991 .button-wrapper.jsx-2648936991 {
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

        .button-with-animation-component.jsx-2648936991 .button-wrapper.bounce-button.jsx-2648936991 {
            -webkit-animation: bounce-jsx-2648936991 linear 0.8s;
            animation: bounce-jsx-2648936991 linear 0.8s;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        @media (max-width: 768px) {
            .button-with-animation-component.jsx-2648936991 .lottie-animation-wrapper.jsx-2648936991 {
                left: 0;
                right: 0;
                margin: auto;
                -webkit-transform: translateX(25%) translateY(86%) rotateZ(45deg);
                -ms-transform: translateX(25%) translateY(86%) rotateZ(45deg);
                transform: translateX(25%) translateY(86%) rotateZ(45deg);
            }
        }

        @-webkit-keyframes bounce-jsx-2648936991 {
            0% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            15% {
                -webkit-transform: translate(-10px, -10px);
                -ms-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
            }
            30% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            45% {
                -webkit-transform: translate(-7px, -7px);
                -ms-transform: translate(-7px, -7px);
                transform: translate(-7px, -7px);
            }
            60% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            75% {
                -webkit-transform: translate(-3px, -3px);
                -ms-transform: translate(-3px, -3px);
                transform: translate(-3px, -3px);
            }
            100% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
        }

        @keyframes bounce-jsx-2648936991 {
            0% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            15% {
                -webkit-transform: translate(-10px, -10px);
                -ms-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
            }
            30% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            45% {
                -webkit-transform: translate(-7px, -7px);
                -ms-transform: translate(-7px, -7px);
                transform: translate(-7px, -7px);
            }
            60% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
            75% {
                -webkit-transform: translate(-3px, -3px);
                -ms-transform: translate(-3px, -3px);
                transform: translate(-3px, -3px);
            }
            100% {
                -webkit-transform: translate(0px, 0px);
                -ms-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
            }
        }
        .social-media-icon.jsx-1009237492 .regular-icon-container.jsx-1009237492 {
            display: block;
        }

        .social-media-icon.jsx-1009237492 .colorful-icon-container.jsx-1009237492 {
            display: none;
        }

        .social-media-icon.jsx-1009237492:hover .regular-icon-container.jsx-1009237492:not(.force-display) {
            display: none;
        }

        .social-media-icon.jsx-1009237492:hover .colorful-icon-container.jsx-1009237492 {
            display: block;
        }
        .app-icons {
            margin: 16px 0;
        }
        .all-rights-reserved-component.jsx-3071674792 .monday-logo-wrapper.jsx-3071674792 {
            margin-bottom: 32px;
        }

        .all-rights-reserved-component.jsx-3071674792 .details.jsx-3071674792 {
            font-size: 14px;
            line-height: 2;
            margin-bottom: 16px;
        }


        @media (max-width: 360px) {
            .footer-container .footer-content-container {
                padding: 40px 16px 0 16px;
            }
        }
        body, html {
            font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 16px;
            color: #333;
        }

        body {
            overflow-x: hidden;
        }

        * {
            font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
            box-sizing: border-box;
            font-weight: 300;
            outline: none;
        }

        button, a {
            cursor: pointer;
        }
        html {
            line-height: 1.15;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        article, aside, footer, header, nav, section {
            display: block;
        }

        h1 {
            font-size: 2em;
            margin: 0;
        }

        h2 {
            margin: 0;
        }

        figcaption, figure, main {
            display: block;
        }

        figure {
            margin: 1em 40px;
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible;
        }

        pre {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }

        abbr[title] {
            border-bottom: none;
            -webkit-text-decoration: underline;
            text-decoration: underline;
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
        }

        b, strong {
            font-weight: inherit;
        }

        b, strong {
            font-weight: bolder;
        }

        code, kbd, samp {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        dfn {
            font-style: italic;
        }

        mark {
            background-color: #ff0;
            color: #000;
        }

        small {
            font-size: 80%;
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }

        audio, video {
            display: inline-block;
        }

        audio:not([controls]) {
            display: none;
            height: 0;
        }

        img {
            border-style: none;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        button, input, optgroup, select, textarea {
            font-family: sans-serif;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, input {
            overflow: visible;
        }

        button, select {
            text-transform: none;
        }

        button, html [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
            outline: 1px dotted ButtonText;
        }

        fieldset {
            padding: 0.35em 0.75em 0.625em;
        }

        legend {
            box-sizing: border-box;
            color: inherit;
            display: table;
            max-width: 100%;
            padding: 0;
            white-space: normal;
        }

        progress {
            display: inline-block;
            vertical-align: baseline;
        }

        textarea {
            overflow: auto;
        }

        [type="checkbox"], [type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }

        [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
            height: auto;
        }

        [type="search"] {
            -webkit-appearance: textfield;
            outline-offset: -2px;
        }

        [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit;
        }

        details, menu {
            display: block;
        }

        summary {
            display: list-item;
        }

        canvas {
            display: inline-block;
        }

        template {
            display: none;
        }

        [hidden] {
            display: none;
        }