.top-header-link-wrapper .outline-button.textual a.top-bar-link div.content, .top-header-login-link-wrapper .outline-button.textual a.top-bar-link div.content {
    font-weight: 400;
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
}

.top-header-link-wrapper .outline-button.textual:hover a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:hover a.top-bar-link {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.top-header-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link {
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.outline-button.default.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
}

.outline-button.default.jsx-3998797232 a.jsx-3998797232 {
    position: relative;
    display: block;
    border: 1px solid;
    color: #333;
    padding: 7px 18px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.default.jsx-3998797232 a.loading.jsx-3998797232 {
    cursor: default;
}

.outline-button.default.jsx-3998797232 a.jsx-3998797232 .content.loading.jsx-3998797232 {
    opacity: 0;
}

.outline-button.default.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}

.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}

.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}

.outline-button.circled.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

.outline-button.circled.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    border: 1px solid;
    border-radius: 24px;
    color: #333;
    padding: 8px 24px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.circled.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}

.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}

.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}

.outline-button.textual.jsx-3998797232:hover a.jsx-3998797232 {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.outline-button.textual.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    color: #333;
    padding: 10px 0;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.textual.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 10px 0;
}

.outline-button.textual.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
}

.outline-button.default:hover a svg circle {
    stroke: white;
}

.outline-button.default a .spinner {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.menu-component.jsx-930398070 {
    position: relative;
}

.menu-component.jsx-930398070 .button-wrapper.jsx-930398070 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-component.jsx-930398070 .menu-content-wrapper.jsx-930398070 {
    position: absolute;
}

.use-cases.jsx-1511252560 .menu-content-component {
    width: 456px;
}

.top-header-link-wrapper, .top-header-login-link-wrapper {
    margin-left: 24px;
}

.top-header-link-wrapper .outline-button.textual a.top-bar-link div.content, .top-header-login-link-wrapper .outline-button.textual a.top-bar-link div.content {
    font-weight: 400;
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
}

.top-header-link-wrapper .outline-button.textual:hover a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:hover a.top-bar-link {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.top-header-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link {
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.top-header-link-wrapper:first-child .outline-button.textual a:hover, .top-header-link-wrapper:first-child .outline-button.textual a.selected {
    color: #A358DF;
}

.top-header-link-wrapper:nth-child(2) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(2) .outline-button.textual a.selected {
    color: #00CC6F;
}

.top-header-link-wrapper:nth-child(3) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(3) .outline-button.textual a.selected {
    color: #ff0476;
}

.top-header-link-wrapper:nth-child(4) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(4) .outline-button.textual a.selected {
    color: #00A9FF;
}

.top-header-login-link-wrapper .outline-button.circled a.login-top-bar {
    font-size: 16px;
}

.top-header-login-link-wrapper .outline-button.circled a.login-top-bar div {
    font-family: sofia-pro, sans-serif;
}

.top-header-login-link-wrapper .outline-button.circled:hover a.login-top-bar {
    border-color: #A358DF;
    background-color: transparent;
    color: #A358DF;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.navbar-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

nav.navbar.jsx-3980414583 {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100vw;
    padding: 12px;
    z-index: 555;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

nav.navbar.jsx-3980414583 .top-bar-content.jsx-3980414583 {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

nav.navbar.sticky-mode.jsx-3980414583 {
    position: static;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav.navbar.jsx-3980414583 .social-share-buttons-wrapper.jsx-3980414583 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) {
    background-color: #fff !important;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) .logo-wrapper.jsx-3980414583 .homepage-logo.jsx-3980414583 svg {
    width: 167px;
}

.navbar-padding.jsx-3980414583 {
    height: 65px;
}

.navbar-padding.sticky-mode.jsx-3980414583 {
    display: none;
}

.navbar-padding.top-banner.jsx-3980414583 {
    height: 100px;
}

.top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
    display: none;
}

@media (max-width: 769px) {
    .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
        display: none;
    }

    .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
        display: block;
    }
}

@media (max-width: 768px) {
    nav.navbar, nav.navbar.scroll-mode {
        padding: 12px 8px;
    }

    nav.navbar .logo-wrapper .homepage-logo, nav.navbar.scroll-mode .logo-wrapper .homepage-logo {
        padding: 0 8px;
    }

    nav.navbar .logo-wrapper .homepage-logo svg, nav.navbar.scroll-mode .logo-wrapper .homepage-logo svg {
        width: 167px;
    }

    .navbar-padding {
        height: 54px;
    }

    .social-share-buttons-wrapper {
        display: none;
    }

    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg path {
        fill: #fff;
    }

    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg path {
        fill: #333;
    }
}

@media (max-width: 991px) {

    .all-rights-reserved-component.jsx-3071674792 .monday-logo-wrapper.jsx-3071674792 {
        margin-bottom: 32px;
    }
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav.navbar.jsx-3980414583 .social-share-buttons-wrapper.jsx-3980414583 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) {
    background-color: #fff !important;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) .logo-wrapper.jsx-3980414583 .homepage-logo.jsx-3980414583 svg {
    width: 167px;
}

.navbar-padding.jsx-3980414583 {
    height: 65px;
}

.navbar-padding.sticky-mode.jsx-3980414583 {
    display: none;
}

.navbar-padding.top-banner.jsx-3980414583 {
    height: 100px;
}

nav.navbar .homepage-logo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 32px 0 0;
}

nav.navbar .homepage-logo svg {
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 167px;
}

nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .m-shapes {
    fill: #fff;
}

nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .m-shapes {
    fill: #333;
}

nav.navbar:not(.scroll-mode) .homepage-logo.light-color-theme svg .text-shapes {
    fill: #fff;
}

.top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
    display: none;
}

@media (max-width: 769px) {
    .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
        display: none;
    }

    .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
        display: block;
    }
}

.picture-component.blur-image.jsx-291256668 img.jsx-291256668 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.picture-component.blur-image.jsx-291256668 img.jsx-291256668 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.side-menu-mobile.jsx-1410744371 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 58px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
}

.side-menu-mobile.open.jsx-1410744371 {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    z-index: 0;
}

.side-menu-mobile.open.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    opacity: 1;
}

.side-menu-mobile.scroll-mode.jsx-1410744371 {
    top: 58px;
}

.social-media-icon.jsx-1009237492 .regular-icon-container.jsx-1009237492 {
    display: block;
}

.social-media-icon.jsx-1009237492 .colorful-icon-container.jsx-1009237492 {
    display: none;
}

.social-media-icon.jsx-1009237492:hover .regular-icon-container.jsx-1009237492:not(.force-display) {
    display: none;
}

.social-media-icon.jsx-1009237492:hover .colorful-icon-container.jsx-1009237492 {
    display: block;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff0476;
    z-index: 1000;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
    margin: 16px 0;
    display: block;
    color: #fff;
    font-weight: 300;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 40px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 .download-app-wrapper.jsx-1410744371 {
    cursor: pointer;
}

@media (max-width: 450px) {
    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
        font-size: 24px;
        margin: 8px 0;
    }
}

.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper {
    margin: 0 8px;
}

.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper img {
    width: 45vw;
    max-width: 200px;
}

.side-menu-mobile-dialog section.buttom-bottons .decoration svg {
    width: 40px;
}

.side-menu-mobile-dialog section.buttom-bottons .decoration svg rect {
    fill: #fff;
}

.hamburger-menu.jsx-1699065342 {
    width: 28px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 667;
    margin-left: 24px;
    margin-right: 8px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342 {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
    top: 8px;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(2), .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
    top: 17px;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
    top: 26px;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342 {
    background-color: #333;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.all-rights-reserved-component.jsx-3071674792 .monday-logo-wrapper.jsx-3071674792 {
    margin-bottom: 32px;
}

.all-rights-reserved-component.jsx-3071674792 .details.jsx-3071674792 {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 16px;
}

.footer-category-component.jsx-3735872849 .title.jsx-3735872849 {
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
}

.social-footer-component.jsx-4027396861 {
    height: 103px;
    position: relative;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #808080;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
    max-width: 1050px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
    padding-top: 5px;
}

.social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 .red-heart.jsx-4027396861 {
    height: 12px;
    width: 14px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
        padding: 0 54px;
    }
}

@media (max-width: 768px) {
    .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
        display: none;
    }
}

.social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 .red-heart.jsx-4027396861 {
    height: 12px;
    width: 14px;
}

@media (max-width: 991px) and (min-width: 768px) {
    .social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
        padding: 0 54px;
    }
}

@media (max-width: 768px) {
    .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
        display: none;
    }
}

@media (max-width: 768px) {
    .all-rights-reserved-component.jsx-3071674792 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

    }

    .all-rights-reserved-component.jsx-3071674792 .icons-wrapper.jsx-3071674792 {
        margin-left: 48px;
    }
}

.palette-icons-container.jsx-792080720 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
    margin-right: 24px;
}

.palette-icons-container.jsx-792080720 .single-app-icon-wrapper.jsx-792080720 {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .palette-icons-container.jsx-792080720 {
        margin: 0 auto;
        padding: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 16px;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
        margin-right: auto;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
        width: 240px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}
