﻿.board-carousel-image {
    margin-bottom: 20px!important;
}
.draggable {
    height: 50px;
}
.sofia-pro-font {
      display: flow-root;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-image-section.jsx-3878850731 .person-image {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 32px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}
.boards-carousel-component .boards-carousel-frame .custom-arrows {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: 82%;
    right: 100px;
    width: 100%;
    max-width: 850px;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-text-setcion.jsx-3878850731 .title.jsx-3878850731 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-text-setcion.jsx-3878850731 .person-quote.jsx-3878850731 {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-text-setcion.jsx-3878850731 .person-title.jsx-3878850731 {
    font-size: 16px;
    color: #a1a1a1;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-image-section.jsx-3878850731 {
    -webkit-flex-basis: 70px;
    -ms-flex-preferred-size: 70px;
    flex-basis: 70px;

    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-text-setcion.jsx-3878850731 {
    width: 80%;
}
.outline-button.default.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
}
.outline-button.default.jsx-3998797232 a.jsx-3998797232 {
    position: relative;
    display: block;
    border: 1px solid;
    color: #333;
    padding: 7px 18px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}
.outline-button.default.jsx-3998797232 a.loading.jsx-3998797232 {
    cursor: default;
}
.outline-button.default.jsx-3998797232 a.jsx-3998797232 .content.loading.jsx-3998797232 {
    opacity: 0;
}
.outline-button.default.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}
.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}
.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}
.outline-button.circled.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}
.outline-button.circled.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    border: 1px solid;
    border-radius: 24px;
    color: #333;
    padding: 8px 24px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}
.outline-button.circled.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}
.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}
.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}
.outline-button.textual.jsx-3998797232:hover a.jsx-3998797232 {
    -webkit-text-decoration: none;
    text-decoration: none;
}
.outline-button.textual.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    color: #333;
    padding: 10px 0;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}
.outline-button.textual.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 10px 0;
}
.outline-button.textual.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
}
.outline-button.default:hover a svg circle {
    stroke: white;
}
.outline-button.default a .spinner {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}
.menu-component.jsx-930398070 {
    position: relative;
}
.slick-slide {
    padding: 0 40px;
}
.menu-component.jsx-930398070 .button-wrapper.jsx-930398070 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu-component.jsx-930398070 .menu-content-wrapper.jsx-930398070 {
    position: absolute;
}
.use-cases.jsx-1393366486 .menu-content-component {
    width: 440px;
}
.navbar-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.top-header-link-wrapper, .top-header-login-link-wrapper {
    margin-left: 24px;
}
.top-header-link-wrapper .outline-button.textual a.top-bar-link div.content, .top-header-login-link-wrapper .outline-button.textual a.top-bar-link div.content {
    font-weight: 400;
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
}
.top-header-link-wrapper .outline-button.textual:hover a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:hover a.top-bar-link {
    -webkit-text-decoration: none;
    text-decoration: none;
}
.top-header-link-wrapper:first-child .outline-button:hover a {
    color: #A358DF;
}
.top-header-link-wrapper:nth-child(2) .outline-button.textual:hover a {
    color: #00CC6F;
}
.top-header-link-wrapper:nth-child(3) .outline-button.textual:hover a {
    color: #ff0476;
}
.top-header-link-wrapper:nth-child(4) .outline-button.textual:hover a {
    color: #00A9FF;
}
.top-header-login-link-wrapper .outline-button.circled a.login-top-bar {
    font-size: 16px;
}
.top-header-login-link-wrapper .outline-button.circled a.login-top-bar div {
    font-family: sofia-pro, sans-serif;
}
.top-header-login-link-wrapper .outline-button.circled:hover a.login-top-bar {
    border-color: #A358DF;
    background-color: transparent;
    color: #A358DF;
}

.side-menu-mobile.open.jsx-1410744371 {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    z-index: 0;
}
.side-menu-mobile.open.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    opacity: 1;
}
.side-menu-mobile.scroll-mode.jsx-1410744371 {
    top: 58px;
}
.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff0476;
    z-index: 1000;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}
.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
    margin: 16px 0;
    display: block;
    color: #fff;
    font-weight: 300;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 40px;
}
.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
}
.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 .download-app-wrapper.jsx-1410744371 {
    cursor: pointer;
}
@media (max-width: 450px) {
    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
        font-size: 24px;
        margin: 8px 0;
    }
}
.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper {
    margin: 0 8px;
}
.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper img {
    width: 45vw;
    max-width: 200px;
}
.side-menu-mobile-dialog section.buttom-bottons .decoration svg {
    width: 40px;
}
.side-menu-mobile-dialog section.buttom-bottons .decoration svg rect {
    fill: #fff;
}
@media (max-width: 768px) {
    nav.navbar, nav.navbar.scroll-mode {
        padding: 12px 8px;
    }
    nav.navbar .logo-wrapper .homepage-logo, nav.navbar.scroll-mode .logo-wrapper .homepage-logo {
        padding: 0 8px;
    }
    nav.navbar .logo-wrapper .homepage-logo svg, nav.navbar.scroll-mode .logo-wrapper .homepage-logo svg {
        width: 167px;
    }
    .navbar-padding {
        height: 54px;
    }
    .social-share-buttons-wrapper {
        display: none;
    }
    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg path {
        fill: #fff;
    }
    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg path {
        fill: #333;
    }
}
.top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
    display: none;
}
@media (max-width: 769px) {
    .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
        display: none;
    }
    .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
        display: block;
    }
}
@-webkit-keyframes animateEntrance {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -40px);
        -ms-transform: translate(0px, -40px);
        transform: translate(0px, -40px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes animateEntrance {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -40px);
        -ms-transform: translate(0px, -40px);
        transform: translate(0px, -40px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes animateExit {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    37% {
        -webkit-transform: translate(0px, -10px);
        -ms-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
    }
    75% {
        -webkit-transform: translate(0px, 51px);
        -ms-transform: translate(0px, 51px);
        transform: translate(0px, 51px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 60px);
        -ms-transform: translate(0px, 60px);
        transform: translate(0px, 60px);
    }
}
@keyframes animateExit {
    0% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    37% {
        -webkit-transform: translate(0px, -10px);
        -ms-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
    }
    75% {
        -webkit-transform: translate(0px, 51px);
        -ms-transform: translate(0px, 51px);
        transform: translate(0px, 51px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 60px);
        -ms-transform: translate(0px, 60px);
        transform: translate(0px, 60px);
    }
}
.switching-words-component {
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 100%;
    text-align: left;
}
.switching-words-component:after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -74px;
    width: 300px;
    height: 68px;
}
.switching-words-component .switching-word-item-wrapper {
    position: absolute;
    top: 0;
}
.switching-words-component .switching-word-item-wrapper.active:not(.animate-entrance):not(.animate-exit) {
    opacity: 1;
}
.switching-words-component .switching-word-item-wrapper.animate-entrance {
    -webkit-animation-name: animateEntrance;
    animation-name: animateEntrance;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0.58, 0.1, 0.6, 1.26);
    animation-timing-function: cubic-bezier(0.58, 0.1, 0.6, 1.26);
}
.switching-words-component .switching-word-item-wrapper.animate-exit {
    -webkit-animation-name: animateExit;
    animation-name: animateExit;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 0.91);
    animation-timing-function: cubic-bezier(0, 0, 0, 0.91);
}
.switching-words-component .switching-word-item-wrapper:not(.animate-entrance) {
    opacity: 0;
}
.switching-title-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    font-size: 50px;
    font-weight: 500;
}

.switching-title-component .switching-words-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.colorful-title-browser {
    margin-right:-30px;
}
.slick-prev {
    z-index:1;
}
.slick-prev, .slick-arrow {
    font-size: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
}
.slick-prev, .slick-arrow {
    font-size: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
}
.switching-title-component .colorful-title, .switching-title-component .colorful-title .colored, .switching-title-component .switching-word-item-wrapper {
    font-weight: 700;
}
@media (max-width: 768px) {
    .switching-title-component {
        font-size: 40px;
    }
}
.responive-hoc-component.jsx-154696632 .desktop-wrapper.jsx-154696632 {
    display: block;
}
.responive-hoc-component.jsx-154696632 .mobile-wrapper.jsx-154696632 {
    display: none;
}
@media (max-width: 768px) {
    .responive-hoc-component.jsx-154696632 .desktop-wrapper.jsx-154696632 {
        display: none;
    }
    .responive-hoc-component.jsx-154696632 .mobile-wrapper.jsx-154696632 {
        display: block;
    }
}
@media (max-width: 768px) {
    .switching-title-component {
        font-size: 40px;
    }
}
input.jsx-2959308043 {
    min-width: 240px;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
@media (max-width: 991px) {
    input.jsx-2959308043 {
        min-width: 120px;
        max-width: none;
        width: 100%;
    }
}
button.ladda-button {
    padding: 16px 32px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    font-weight: 400;
    outline: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.ladda-button:disabled {
    cursor: auto;
}
button.ladda-button img {
    vertical-align: middle;
}
button.ladda-button.blue {
    background-color: #00a9ff;
    color: #fff;
}
button.ladda-button.blue:hover {
    background-color: #0087CC;
}
button.ladda-button.blue:disabled {
    background-color: #0087CC;
}
button.ladda-button.outline-blue {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    color: #00a9ff;
}
button.ladda-button.outline-blue:hover {
    background-color: #fff;
}
button.ladda-button.outline-blue:disabled {
    background-color: #fff;
}
button.ladda-button.brand-pink {
    background-color: #ff0476;
    color: #fff;
}
button.ladda-button.brand-pink:hover {
    background-color: #b70053;
}
button.ladda-button.brand-pink:disabled {
    background-color: #b70053;
}
button.ladda-button.brand-blue {
    background-color: #00A9FF;
    color: #fff;
}
button.ladda-button.brand-blue:hover {
    background-color: #0087CC;
}
button.ladda-button.brand-blue:disabled {
    background-color: #0087CC;
}
button.ladda-button.brand-iris {
    background-color: #595ad4;
    color: #fff;
}
button.ladda-button.brand-iris:hover {
    background-color: #3335c7;
}
button.ladda-button.brand-red {
    background-color: #FB275D;
    color: #fff;
}
button.ladda-button.brand-red:hover {
    background-color: #c12c52;
}
button.ladda-button.brand-red:disabled {
    background-color: #c12c52;
}
button.ladda-button.brand-green {
    background-color: #00CC6F;
    color: #fff;
}
button.ladda-button.brand-green:hover {
    background-color: #099655;
}
button.ladda-button.brand-green:disabled {
    background-color: #099655;
}
button.ladda-button.brand-yellow {
    background-color: #FFCC00;
    color: #fff;
}
button.ladda-button.brand-yellow:hover {
    background-color: #b79407;
}
button.ladda-button.brand-yellow:disabled {
    background-color: #b79407;
}
button.ladda-button.small {
    font-size: 14px;
    padding: 12px 9vw;
    font-weight: 300;
}
button.ladda-button.sm {
    font-size: 14px;
    padding: 20px 32px;
    font-weight: 300;
}
button.ladda-button.xl {
    font-size: 18px;
    padding: 16px 120px;
    font-weight: 400;
}
.ladda-button {
    position: relative;
}
.ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    top: 50%;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
}
.ladda-button .ladda-label {
    position: relative;
    z-index: 3;
}
.ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.ladda-button[data-style="zoom-in"], .ladda-button[data-style="zoom-in"] .ladda-spinner, .ladda-button[data-style="zoom-in"] .ladda-label, .ladda-button[data-style="zoom-out"], .ladda-button[data-style="zoom-out"] .ladda-spinner, .ladda-button[data-style="zoom-out"] .ladda-label {
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.ladda-button[data-style="zoom-out"] {
    overflow: hidden;
}
.ladda-button[data-style="zoom-out"] .ladda-spinner {
    left: 50%;
    margin-left: 32px;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
}
.ladda-button[data-style="zoom-out"] .ladda-label {
    position: relative;
    display: inline-block;
}
.ladda-button[data-style="zoom-out"][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}
.ladda-button[data-style="zoom-out"][data-loading] .ladda-spinner {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.ladda-button[data-style="zoom-in"] {
    overflow: hidden;
}
.ladda-button[data-style="zoom-in"] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
}
.ladda-button[data-style="zoom-in"] .ladda-label {
    position: relative;
    display: inline-block;
}
.ladda-button[data-style="zoom-in"][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
}
.ladda-button[data-style="zoom-in"][data-loading] .ladda-spinner {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.signup-form-core-component-wrapper.jsx-1388203185 .phoneno.jsx-1388203185 {
    display: none;
}
.signup-form-core-component-wrapper.align-left.jsx-1388203185 form.jsx-1388203185 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media (max-width: 991px) {
    .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.signup-form-core-component-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.signup-form-core-component-wrapper input {
    font-size: 16px;
    padding: 16px 24px;
    -webkit-appearance: none;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid;
    border-color: #ccc;
    outline: none;
    text-align: left;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
    margin: 8px 16px 8px 0;
}
.signup-form-core-component-wrapper input:hover::-webkit-input-placeholder, .signup-form-core-component-wrapper input:focus::-webkit-input-placeholder {
    color: #00a9ff;
}
.signup-form-core-component-wrapper input:hover::-moz-placeholder, .signup-form-core-component-wrapper input:focus::-moz-placeholder {
    color: #00a9ff;
}
.signup-form-core-component-wrapper input:hover:-ms-input-placeholder, .signup-form-core-component-wrapper input:focus:-ms-input-placeholder {
    color: #00a9ff;
}
.signup-form-core-component-wrapper input:hover::placeholder, .signup-form-core-component-wrapper input:focus::placeholder {
    color: #00a9ff;
}
.signup-form-core-component-wrapper input:focus {
    border-color: #00a9ff;
    background-color: #fff;
}
.signup-form-core-component-wrapper.error input, .signup-form-core-component-wrapper.error input:focus {
    border-color: red;
}
.signup-form-core-component-wrapper button.ladda-button.sm {
    font-size: 16px;
}
@media (max-width: 991px) {
    .signup-form-core-component-wrapper {
        text-align: center;
    }
    .signup-form-core-component-wrapper input {
        margin-bottom: 16px;
        font-size: 16px;
        padding: 16px 48px;
        margin-right: 0;
        text-align: center;
    }
    .signup-form-core-component-wrapper .signup-button-wrapper {
        width: 100%;
    }
    .signup-form-core-component-wrapper .signup-button-wrapper button {
        font-size: 16px;
        padding: 16px 48px;
        width: 100%;
    }
}
@-webkit-keyframes shake-jsx-1673610358 {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}
@keyframes shake-jsx-1673610358 {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}
.shake.jsx-1673610358 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.shake.active.jsx-1673610358 {
    -webkit-animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.base-signup-form-component {
    position: relative;
}
.base-signup-form-component .error-tooltip-text {
    color: red;
    font-weight: 300;
}
.base-signup-form-component .tooltip {
    -webkit-transform: translate(116%, -120%);
    -ms-transform: translate(116%, -120%);
    transform: translate(116%, -120%);
}
@media (max-width: 991px) {
    .base-signup-form-component .tooltip {
        -webkit-transform: translate(5%, -120%);
        -ms-transform: translate(5%, -120%);
        transform: translate(5%, -120%);
    }
}
.signup-form-with-decorations-component {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
    margin: 0 48px;
}
.signup-form-with-decorations-component .left-decoration {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.signup-form-with-decorations-component .right-decoration {
    position: absolute;
    right: 0px;
    top: 50%;
    width: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.signup-form-with-decorations-component .right-decoration svg, .signup-form-with-decorations-component .left-decoration svg {
    width: 100%;
}
@media (max-width: 450px) {
    .signup-form-with-decorations-component .base-signup-form-wrapper, .signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
        margin: 0;
    }
    .signup-form-with-decorations-component .left-decoration, .signup-form-with-decorations-component .right-decoration {
        display: none;
    }
}
.switching-title-with-signup-component {
    text-align: center;
    padding: 0 16px;
}
.switching-title-with-signup-component .subtitle-wrapper {
    position: relative;
    margin-bottom: 46px;
    margin-top: 24px;
}
.switching-title-with-signup-component .subtitle-wrapper h2 {
    line-height: 1.3;
    font-size: 20px;
}
.switching-title-with-signup-component .signup-form-with-decorations-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (max-width: 991px) {
    .switching-title-with-signup-component .switching-title-wrapper {
        font-size: 32px;
    }
    .switching-title-with-signup-component .subtitle-wrapper h2 {
        font-size: 20px;
    }
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 {
    max-width: 900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-image-section.jsx-3620454896 {
    -webkit-flex-basis: 70px;
    -ms-flex-preferred-size: 70px;
    flex-basis: 70px;
    margin-right: 32px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-image-section.jsx-3620454896 .person-image.jsx-3620454896 {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 {
    width: 80%;
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 .title.jsx-3620454896 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 .person-quote.jsx-3620454896 {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
}
.quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 .person-title.jsx-3620454896 {
    font-size: 16px;
    color: #a1a1a1;
}
.person-text-setcion {
    display: inline-block;
}
@media (max-width: 1050px) {
    .quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-text-setcion.jsx-3620454896 .person-quote.jsx-3620454896 {
        font-size: 18px;
    }
    .quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-image-section.jsx-3620454896 {
        margin: 0px auto 8px auto;
    }
    .quote-component.jsx-3620454896 .quote-component-inner.jsx-3620454896 .person-image-section.jsx-3620454896 .person-image.jsx-3620454896 {
        width: 80px;
        height: 80px;
        margin-bottom: 16px;
    }
}
.stories-slick-carousel .items-without-carousel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.stories-slick-carousel .slick-slider .slick-list .slick-track .slick-slide.slick-current {
    z-index: 1;
}
.stories-slick-carousel .slick-slider .slick-arrow::before {
    display: inline-block;
    content: "";
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.stories-slick-carousel .slick-slider .slick-arrow.slick-prev::before {
    border-width: 0 0 2px 2px;
}
.stories-slick-carousel .slick-slider .slick-dots li {
    margin: 0;
}
.stories-slick-carousel .slick-slider .slick-dots li button {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
    opacity: 1;
}
.stories-slick-carousel .slick-slider .slick-dots li button::before {
    display: none;
}
.stories-slick-carousel .slick-slider .slick-dots li.slick-active button {
    background-color: black;
}
.stories-slick-carousel .slick-slider .slick-dots li:not(.slick-active):hover button {
    border-width: 2px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
   height: 80px;
    line-height: 1.6;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-loading .slick-list {
    background: #fff url("./ajax-loader.gif") center center no-repeat;
}
.slick-prev, .slick-next {
    position: absolute;
    display: block;
   
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
  
    top: 80%;
   
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: transparent;
    color: black;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: 82%;
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}
.slick-next {
    right: 10%;
}
[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}
.boards-carousel-component .boards-carousel-frame .stories-slick-carousel .slick-slider {
    width: 100%;
}
.boards-carousel-component .boards-carousel-frame .stories-slick-carousel .slick-list {
    overflow: visible;
}
.boards-carousel-component .boards-carousel-frame .slick-slide {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    width: 850px;
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    margin-bottom:50px;
}
.boards-carousel-component .boards-carousel-frame .slick-slide .board-carousel-image {
    border: none;
}
.boards-carousel-component .boards-carousel-frame .slick-slide.slick-center {
    opacity: 1;
}
.boards-carousel-component .boards-carousel-frame .slick-slide.slick-center .quote-component {
    opacity: 1;
}
.boards-carousel-component .boards-carousel-frame .slick-slide.slick-center .board-carousel-image {
    border: 2px solid;
}
.boards-carousel-component .boards-carousel-frame .slick-slide:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.boards-carousel-component .boards-carousel-frame .custom-arrows {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: 82%;
    right: 100px;
    width: 100%;
    max-width: 850px;
}
.boards-carousel-component .boards-carousel-frame .custom-arrow {
    font-size: 30px;
    top: 50%;
    cursor: pointer;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
}
.boards-carousel-component .boards-carousel-frame .custom-arrow.left-arrow {
    margin-right: 16px;
}
.boards-carousel-component .boards-carousel-frame .custom-arrow:hover {
    opacity: 0.5;
}
.boards-carousel-component .boards-carousel-frame .board-carousel-item .board-carousel-image-wrapper {

    margin-bottom: 8px;
}
.boards-carousel-component .boards-carousel-frame .board-carousel-item .board-carousel-image-wrapper .board-carousel-image {
    width: 100%;
    margin: 0px auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
.boards-carousel-component .boards-carousel-frame .stop-area {
    position: absolute;
    bottom: 0px;
    height: 300px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}
@media (max-width: 1050px) {
    .boards-carousel-component .boards-carousel-frame .slick-slide {
        width: 800px;
    }
    .boards-carousel-component .boards-carousel-frame .custom-arrows {
        right: 60px;
    }
}
@media (max-width: 768px) {
    .boards-carousel-component {
        padding-bottom: 8px;
    }
    .boards-carousel-component .boards-carousel-frame {
        position: relative;
    }
    .boards-carousel-component .boards-carousel-frame .items-without-carousel {
        width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .boards-carousel-component .boards-carousel-frame .custom-arrow {
        display: none;
    }
    .boards-carousel-component .boards-carousel-frame .board-carousel-item {

        margin: 0 15px;
    }
    .boards-carousel-component .boards-carousel-frame .board-carousel-item .board-carousel-image-wrapper {
        margin-bottom: 16px;
    }
}
.boards-and-quotes-carousel-component.jsx-2649698256 .boards-carousel-wrapper.jsx-2649698256 {
    position: relative;
}
.boards-and-quotes-carousel-component.jsx-2649698256 .people-carousel-wrapper.jsx-2649698256 {
    margin-top: 60px;
}
.switching-title-with-quotes-carousel-component.jsx-871730276 .switching-title-with-signup-wrapper.jsx-871730276 {
    margin-bottom: 64px;
}
@media (max-width: 768px) {
    .switching-title-with-quotes-carousel-component.jsx-871730276 .switching-title-with-signup-wrapper.jsx-871730276 {
        margin-bottom: 32px;
    }
}
.base-layout-segment-component.jsx-3954512829 {
    box-sizing: content-box;
}
.base-layout-segment-component.jsx-3954512829 .segment-content-container.jsx-3954512829 {
    max-width: 1050px;
    margin: auto;
}
@media (max-width: 1050px) {
    .base-layout-segment-component.jsx-3954512829 {
        padding: 0 24px;
    }
}
.paragraph-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.paragraph-component.center {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.paragraph-component.center .topic, .paragraph-component.center .title, .paragraph-component.center .body {
    max-width: 650px;
}
.paragraph-component.right {
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.paragraph-component.left {
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.paragraph-component .topic {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 500;
}
.paragraph-component .title .colorful-title, .paragraph-component .title .colored {
    line-height: 1.3;
    font-size: 40px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .paragraph-component .title .colored, .paragraph-component .title .colorful-title {
        font-size: 32px;
    }
}
.image-gallery.jsx-4212844890 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.image-gallery.shadow.jsx-4212844890 {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}
.image-gallery.clickable.jsx-4212844890 {
    cursor: pointer;
}
.image-gallery.jsx-4212844890 a.jsx-4212844890 {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #333;
}
.image-gallery.jsx-4212844890 .image-text.jsx-4212844890 {
    padding: 16px 0;
    text-align: center;
}
.images-gallery-row.jsx-4077111038 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.paragraph-wrapper.jsx-4272981209 {
    margin-bottom: 24px;
}
.lottie-component.jsx-3395544742 {
    width: 100%;
    height: 100%;
}
.lottie-animation-component.jsx-2898600562 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}
.signup-with-animation-component.jsx-2153399483 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.signup-with-animation-component.jsx-2153399483 .inline-flex-wrapper.jsx-2153399483 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.signup-with-animation-component.left.jsx-2153399483 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.signup-with-animation-component.right.jsx-2153399483 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.signup-with-animation-component.jsx-2153399483 .lottie-animation-wrapper.jsx-2153399483 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 150px;
    position: absolute;
    -webkit-transform: translateX(95%) translateY(44px);
    -ms-transform: translateX(95%) translateY(44px);
    transform: translateX(95%) translateY(44px);
    right: 0;
    top: 0;
}
.signup-with-animation-component.jsx-2153399483 .button-wrapper.jsx-2153399483 {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.signup-with-animation-component.jsx-2153399483 .button-wrapper.bounce-button.jsx-2153399483 {
    -webkit-animation: bounce-jsx-2153399483 linear 0.8s;
    animation: bounce-jsx-2153399483 linear 0.8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
@media (max-width: 768px) {
    .signup-with-animation-component.jsx-2153399483 .lottie-animation-wrapper.jsx-2153399483 {
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: translateX(25%) translateY(150px) rotateZ(45deg);
        -ms-transform: translateX(25%) translateY(150px) rotateZ(45deg);
        transform: translateX(25%) translateY(150px) rotateZ(45deg);
    }
}
@-webkit-keyframes bounce-jsx-2153399483 {
    0% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    15% {
        -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
        transform: translate(-10px, -10px);
    }
    30% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    45% {
        -webkit-transform: translate(-7px, -7px);
        -ms-transform: translate(-7px, -7px);
        transform: translate(-7px, -7px);
    }
    60% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    75% {
        -webkit-transform: translate(-3px, -3px);
        -ms-transform: translate(-3px, -3px);
        transform: translate(-3px, -3px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes bounce-jsx-2153399483 {
    0% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    15% {
        -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
        transform: translate(-10px, -10px);
    }
    30% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    45% {
        -webkit-transform: translate(-7px, -7px);
        -ms-transform: translate(-7px, -7px);
        transform: translate(-7px, -7px);
    }
    60% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    75% {
        -webkit-transform: translate(-3px, -3px);
        -ms-transform: translate(-3px, -3px);
        transform: translate(-3px, -3px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
.companies-with-logos-component {
    position: relative;
}
.companies-with-logos-component .image-gallery {
    padding: 24px;
}
.companies-with-logos-component .image-gallery .social-proof-gallery-picture img {
    width: 148px;
}
.companies-with-logos-component .signup-wrapper {
    margin-top: 48px;
}
@media (max-width: 991px) {
    .companies-with-logos-component .signup-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .companies-with-logos-component .images-gallery-row {
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
    }
    .companies-with-logos-component .images-gallery-row .image-gallery {
        padding: 4px;
    }
    .companies-with-logos-component .images-gallery-row .image-gallery img {
        width: 120px;
    }
}
.body.jsx-2362733203 {
    font-size: 16px;
    padding-top: 16px;
    width: 100%;
}
.body.jsx-2362733203 div.jsx-2362733203 {
    line-height: 27px;
}
.bottom-link-wrapper.jsx-1726512980 {
    margin-top: 24px;
}
.bottom-link-wrapper.jsx-1726512980 a.jsx-1726512980 {
    color: #333;
}
.bottom-link-wrapper.jsx-1726512980 a.jsx-1726512980:hover {
    color: #A358DF;
}
.asset-inner {
    position: relative;
}
.asset-inner .main-image {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.asset-inner .main-image.round {
    border-radius: 50%;
}
.asset-inner.with-shadow {
    box-shadow: 0px 2px 16px 0 rgba(0, 0, 0, 0.2);
}
.paragaph-and-asset-columns.jsx-2273645674 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
    max-width: 45%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 .signup-wrapper.jsx-2273645674 {
    margin-top: 16px;
}
.paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
    max-width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.paragaph-and-asset-columns.asset-left.jsx-2273645674 .top-line.jsx-2273645674 {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
@media (max-width: 768px) {
    .paragaph-and-asset-columns.jsx-2273645674 {
        height: auto;
    }
    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-bottom: 48px;
        max-width: 100%;
    }
    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.lottie-item-wrapper.jsx-2823877721 {
    max-width: 300px;
    margin: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.lottie-item-wrapper.jsx-2823877721 a.jsx-2823877721 {
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #333;
}
.lottie-item-wrapper.jsx-2823877721 .board-view-item-text.jsx-2823877721 {
    padding: 16px;
    text-align: center;
}
.lottie-item-wrapper.jsx-2823877721 .board-view-item-title.jsx-2823877721 {
    margin-bottom: 8px;
}
.board-views-component .lottie-gallery-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}
.board-views-component .paragraph-component .body {
    max-width: 650px;
}
.video-carousel-item-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.video-carousel-item-component .video-part {
    position: relative;
    margin: 0 16px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
}
.video-carousel-item-component .video-part:hover .play-button-container {
    background-color: #f7f7f7;
}
.video-carousel-item-component .video-part .poster-image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.video-carousel-item-component .video-part .poster-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-carousel-item-component .video-part .play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.video-carousel-item-component .video-part .play-button-container .play-button {
    box-sizing: border-box;
    border-color: transparent transparent transparent #333333;
    border-style: solid;
    border-width: 9px 0 9px 14px;
    position: absolute;
    left: calc(50% + 2px);
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.video-carousel-item-component.mobile-layout .video-part {
    overflow: hidden;
}
.video-carousel-item-component.mobile-layout .video-part .poster-image-wrapper {
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    opacity: 1;
}
.video-carousel-item-component.mobile-layout .video-part .video-component-wrapper {
    opacity: 0;
}
.video-carousel-item-component.mobile-layout .video-part .video-component-wrapper iframe {
    display: block;
}
.video-carousel-item-component .title-container.video-title {
    margin-top: 24px;
}
.video-carousel-item-component .title-container.video-title .colorful-title {
    font-size: 17px;
}
.video-carousel-item-component .title-container.video-title .colorful-title .colored {
    font-weight: bold;
}
.video-carousel-desktop-component .video-carousel-title {
    margin-bottom: 48px;
}
.video-carousel-desktop-component .video-carousel-title .colorful-title, .video-carousel-desktop-component .video-carousel-title .colored {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
@media (max-width: 650px) {
    .video-carousel-desktop-component .stories-slick-carousel {
        margin-left: -14px;
        width: auto;
    }
    .video-carousel-desktop-component .stories-slick-carousel .slick-slider .slick-arrow {
        display: none;
    }
}
@media (max-width: 768px) {
    .video-carousel-desktop-component .items-without-carousel {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }
    .video-carousel-desktop-component .items-without-carousel .video-carousel-item-component {
        margin-bottom: 48px;
    }
    .video-carousel-desktop-component .video-carousel-title .colorful-title, .video-carousel-desktop-component .video-carousel-title .colored {
        font-size: 32px;
    }
}
.simple-colorful-title-with-signup-component {
    text-align: center;
}
.simple-colorful-title-with-signup-component .title-wrapper .colorful-title {
    font-weight: 700;
}
.simple-colorful-title-with-signup-component .title-wrapper .colorful-title span {
    font-weight: 700;
}
.simple-colorful-title-with-signup-component .subtitle-wrapper {
    margin-top: 16px;
}
.simple-colorful-title-with-signup-component .subtitle-wrapper h2 {
    font-size: 20px;
}
.simple-colorful-title-with-signup-component .signup-form-with-decorations-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}
.social-media-icon.jsx-1009237492 .regular-icon-container.jsx-1009237492 {
    display: block;
}
.social-media-icon.jsx-1009237492 .colorful-icon-container.jsx-1009237492 {
    display: none;
}
.social-media-icon.jsx-1009237492:hover .regular-icon-container.jsx-1009237492:not(.force-display) {
    display: none;
}
.social-media-icon.jsx-1009237492:hover .colorful-icon-container.jsx-1009237492 {
    display: block;
}
.app-icons {
    margin: 16px 0;
}

.all-rights-reserved-component.jsx-3071674792 .details.jsx-3071674792 {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 16px;
}
@media (max-width: 768px) {
    .all-rights-reserved-component.jsx-3071674792 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
       
    }
    .all-rights-reserved-component.jsx-3071674792 .monday-logo-wrapper.jsx-3071674792 {
         margin-bottom: 0;
    }
    .all-rights-reserved-component.jsx-3071674792 .icons-wrapper.jsx-3071674792 {
        margin-left: 48px;
    }
}
.link.jsx-4019638165 {
    margin-bottom: 24px;
}

.link.jsx-4019638165 a.jsx-4019638165 {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}
.footer-category-component.jsx-3735872849 .title.jsx-3735872849 {
    font-weight: 700;
   
    margin-bottom: 24px;
}
.palette-icons-container.jsx-792080720 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
    margin-right: 24px;
}
.palette-icons-container.jsx-792080720 .single-app-icon-wrapper.jsx-792080720 {
    margin-right: 8px;
}
@media (max-width: 768px) {
    .palette-icons-container.jsx-792080720 {
        margin: 0 auto;
        padding: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
       
    }
    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
        margin-right: auto;
    }
    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
        width: 240px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}
.social-footer-component.jsx-4027396861 {
    height: 103px;
    position: relative;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #808080;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
    max-width: 1050px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
    padding-top: 5px;
}
.social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 .red-heart.jsx-4027396861 {
    height: 12px;
    width: 14px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
        padding: 0 54px;
    }
}
@media (max-width: 768px) {
    .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
        display: none;
    }
}
.footer-container {
    padding-bottom: 8px;

    overflow: hidden;
}
.footer-container .footer-content-container {
    padding: 95px 64px 0 64px;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.footer-container .footer-content-container .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1050px;
}
.footer-container .footer-content-container .footer-content .all-right-reserved-container {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 120px;
}
.footer-container .footer-content-container .footer-content .categories-container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.footer-container .footer-content-container .footer-content .categories-container .category-container {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 150px;
    margin-right: 16px;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
}
.footer-container .footer-content-container .footer-content .categories-container .security-logos-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.footer-container .footer-content-container .footer-content .categories-container .security-logos-container .iso-logo-img-container, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .gdpr-logo-img-container, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .soc-logo-img-container {
    margin-right: 8px;
    cursor: pointer;
}
.footer-container .footer-content-container .footer-content .categories-container .security-logos-container .iso-logo-img-container img, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .gdpr-logo-img-container img, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .soc-logo-img-container img {
    width: 40px;
    height: 40px;
}
.footer-container .footer-content-container .footer-content .categories-container .security-logos-container .iso-logo-img-container:hover img, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .gdpr-logo-img-container:hover img, .footer-container .footer-content-container .footer-content .categories-container .security-logos-container .soc-logo-img-container:hover img {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .footer-container .footer-content-container {
        padding: 40px 40px 0 40px;
    }
    .footer-container .footer-content-container .footer-content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        
    }
    .footer-container .footer-content-container .footer-content .all-right-reserved-container {
        width: 100%;
    }
    .footer-container .footer-content-container .footer-content .categories-container .category-container {
        width: 130px;
    
        margin-right: 12px;
    }
    .footer-container .footer-content-container .footer-content .categories-container .category-container .footer-category-component {
        width: 130px;
    }
    .footer-container .footer-content-container .footer-content .categories-container .security-logos-container img {
        width: 34px !important;
        height: 34px !important;
    }
}
@media (max-width: 360px) {
    .footer-container .footer-content-container {
        padding: 40px 16px 0 16px;
    }
}
body, html {
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}
body {
    overflow-x: hidden;
}
* {
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    outline: none;
}
button, a {
    cursor: pointer;
}
{ /*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article, aside, footer, header, nav, section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0;
}
h2 {
    margin: 0;
}
figcaption, figure, main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b, strong {
    font-weight: inherit;
}
b, strong {
    font-weight: bolder;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details, menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
.top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
    display: none;
}
@media (max-width: 769px) {
    .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
        display: none!important;
    }
    .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
        display: block!important;
    }
    .slick-slide img {
        margin: 0 auto;
        float: none;
        display: block;
    }

     .person-text-setcion {
      text-align: center;
         padding: 0 15px;
    }
    .slick-slide {
        padding:0;
    }
    .quote-component.jsx-3878850731 .quote-component-inner.jsx-3878850731 .person-text-setcion.jsx-3878850731 {
        width:100%;
    }
    .person-image {
        margin: 0 auto !important;
    }
    .person-image-section {
        display: block!important;
    }
}
.custom-arrows {
    display: none;
}


