

    .paragraph-component {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .paragraph-component.center {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .paragraph-component.center .topic, .paragraph-component.center .title, .paragraph-component.center .body {
        max-width: 650px;
    }

    .paragraph-component.right {
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
    }

    .paragraph-component.left {
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }

    .paragraph-component .topic {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: 500;
    }

    .paragraph-component .title .colorful-title, .paragraph-component .title .colored {
        line-height: 1.3;
        font-size: 50px;
        font-weight: 700;
    }

    @media (max-width: 768px) {
        .paragraph-component .title .colored, .paragraph-component .title .colorful-title {
            font-size: 32px;
        }
    }

    input.jsx-2959308043 {
        min-width: 240px;
        max-width: 320px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    @media (max-width: 991px) {
        input.jsx-2959308043 {
            min-width: 120px;
            max-width: none;
            width: 100%;
        }
    }
    button.ladda-button {
        padding: 16px 32px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 40px;
        border: none;
        font-weight: 400;
        outline: none;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    button.ladda-button[data-style="zoom-in"]:not(:hover) {
        -webkit-transition: 0.2s ease background-color;
        transition: 0.2s ease background-color;
    }

    button.ladda-button:disabled {
        cursor: auto;
    }

    button.ladda-button img {
        vertical-align: middle;
    }
    button.ladda-button.blue {
        background-color: #00a9ff;
        color: #fff;
    }

    button.ladda-button.blue:hover {
        background-color: #0087CC;
    }

    button.ladda-button.blue:disabled {
        background-color: #0087CC;
    }

    button.ladda-button.outline-blue {
        border-width: 1px;
        border-style: solid;
        background-color: #fff;
        color: #00a9ff;
    }

    button.ladda-button.outline-blue:hover {
        background-color: #fff;
    }

    button.ladda-button.outline-blue:disabled {
        background-color: #fff;
    }

    button.ladda-button.brand-pink {
        background-color: #ff0476;
        color: #fff;
    }

    button.ladda-button.brand-pink:hover {
        background-color: #b70053;
    }

    button.ladda-button.brand-pink:disabled {
        background-color: #b70053;
    }

    button.ladda-button.brand-blue {
        background-color: #00A9FF;
        color: #fff;
    }

    button.ladda-button.brand-blue:hover {
        background-color: #0087CC;
    }

    button.ladda-button.brand-blue:disabled {
        background-color: #0087CC;
    }

    button.ladda-button.brand-iris {
        background-color: #595ad4;
        color: #fff;
    }

    button.ladda-button.brand-iris:hover {
        background-color: #3335c7;
    }

    button.ladda-button.brand-red {
        background-color: #FB275D;
        color: #fff;
    }

    button.ladda-button.brand-red:hover {
        background-color: #c12c52;
    }

    button.ladda-button.brand-red:disabled {
        background-color: #c12c52;
    }

    button.ladda-button.brand-green {
        background-color: #00CC6F;
        color: #fff;
    }

    button.ladda-button.brand-green:hover {
        background-color: #099655;
    }

    button.ladda-button.brand-green:disabled {
        background-color: #099655;
    }

    button.ladda-button.brand-yellow {
        background-color: #FFCC00;
        color: #fff;
    }

    button.ladda-button.brand-yellow:hover {
        background-color: #b79407;
    }

    button.ladda-button.brand-yellow:disabled {
        background-color: #b79407;
    }
    button.ladda-button.small {
        font-size: 14px;
        padding: 12px 9vw;
        font-weight: 300;
    }

    button.ladda-button.sm {
        font-size: 14px;
        padding: 20px 32px;
        font-weight: 300;
    }

    button.ladda-button.xl {
        font-size: 18px;
        padding: 16px 120px;
        font-weight: 400;
    }

    .ladda-button {
        position: relative;
    }

    .ladda-button .ladda-spinner {
        position: absolute;
        z-index: 2;
        display: inline-block;
        width: 32px;
        top: 50%;
        margin-top: 0;
        opacity: 0;
        pointer-events: none;
    }

    .ladda-button .ladda-label {
        position: relative;
        z-index: 3;
    }

    .ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
        -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }

    .ladda-button[data-style="zoom-in"], .ladda-button[data-style="zoom-in"] .ladda-spinner, .ladda-button[data-style="zoom-in"] .ladda-label, .ladda-button[data-style="zoom-out"], .ladda-button[data-style="zoom-out"] .ladda-spinner, .ladda-button[data-style="zoom-out"] .ladda-label {
        -webkit-transition: 0.3s ease all;
        transition: 0.3s ease all;
    }

    .ladda-button[data-style="zoom-out"] {
        overflow: hidden;
    }

    .ladda-button[data-style="zoom-out"] .ladda-spinner {
        left: 50%;
        margin-left: 32px;
        -webkit-transform: scale(2.5);
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }

    .ladda-button[data-style="zoom-out"] .ladda-label {
        position: relative;
        display: inline-block;
    }

    .ladda-button[data-style="zoom-out"][data-loading] .ladda-label {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }

    .ladda-button[data-style="zoom-out"][data-loading] .ladda-spinner {
        opacity: 1;
        margin-left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .ladda-button[data-style="zoom-in"] {
        overflow: hidden;
    }

    .ladda-button[data-style="zoom-in"] .ladda-spinner {
        left: 50%;
        margin-left: -16px;
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        transform: scale(0.2);
    }

    .ladda-button[data-style="zoom-in"] .ladda-label {
        position: relative;
        display: inline-block;
    }

    .ladda-button[data-style="zoom-in"][data-loading] .ladda-label {
        opacity: 0;
        -webkit-transform: scale(2.2);
        -ms-transform: scale(2.2);
        transform: scale(2.2);
    }

    .ladda-button[data-style="zoom-in"][data-loading] .ladda-spinner {
        opacity: 1;
        margin-left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .signup-form-core-component-wrapper.jsx-1388203185 .phoneno.jsx-1388203185 {
        display: none;
    }

    .signup-form-core-component-wrapper.align-left.jsx-1388203185 form.jsx-1388203185 {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    @media (max-width: 991px) {
        .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .signup-form-core-component-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .signup-form-core-component-wrapper input {
        font-size: 16px;
        padding: 16px 24px;
        -webkit-appearance: none;
        background-color: #f5f5f5;
        color: #333;
        border: 1px solid;
        border-color: #ccc;
        outline: none;
        text-align: left;
        -webkit-transition: border-color 0.1s ease-in-out;
        transition: border-color 0.1s ease-in-out;
        margin: 8px 16px 8px 0;
    }

    .signup-form-core-component-wrapper input:hover::-webkit-input-placeholder, .signup-form-core-component-wrapper input:focus::-webkit-input-placeholder {
        color: #00a9ff;
    }

    .signup-form-core-component-wrapper input:hover::-moz-placeholder, .signup-form-core-component-wrapper input:focus::-moz-placeholder {
        color: #00a9ff;
    }

    .signup-form-core-component-wrapper input:hover:-ms-input-placeholder, .signup-form-core-component-wrapper input:focus:-ms-input-placeholder {
        color: #00a9ff;
    }

    .signup-form-core-component-wrapper input:hover::placeholder, .signup-form-core-component-wrapper input:focus::placeholder {
        color: #00a9ff;
    }

    .signup-form-core-component-wrapper input:focus {
        border-color: #00a9ff;
        background-color: #fff;
    }

    .signup-form-core-component-wrapper.error input, .signup-form-core-component-wrapper.error input:focus {
        border-color: red;
    }

    .signup-form-core-component-wrapper button.ladda-button.sm {
        font-size: 16px;
    }

    @media (max-width: 991px) {
        .signup-form-core-component-wrapper {
            text-align: center;
        }

        .signup-form-core-component-wrapper input {
            margin-bottom: 16px;
            font-size: 16px;
            padding: 16px 48px;
            margin-right: 0;
            text-align: center;
        }

        .signup-form-core-component-wrapper .signup-button-wrapper {
            width: 100%;
        }

        .signup-form-core-component-wrapper .signup-button-wrapper button {
            font-size: 16px;
            padding: 16px 48px;
            width: 100%;
        }
    }
    @-webkit-keyframes shake-jsx-1673610358 {
        10%, 90% {
            -webkit-transform: translate3d(-1px, 0, 0);
            -ms-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
        }
        20%, 80% {
            -webkit-transform: translate3d(2px, 0, 0);
            -ms-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
        }
        30%, 50%, 70% {
            -webkit-transform: translate3d(-4px, 0, 0);
            -ms-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
        }
        40%, 60% {
            -webkit-transform: translate3d(4px, 0, 0);
            -ms-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
        }
    }

    @keyframes shake-jsx-1673610358 {
        10%, 90% {
            -webkit-transform: translate3d(-1px, 0, 0);
            -ms-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
        }
        20%, 80% {
            -webkit-transform: translate3d(2px, 0, 0);
            -ms-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
        }
        30%, 50%, 70% {
            -webkit-transform: translate3d(-4px, 0, 0);
            -ms-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
        }
        40%, 60% {
            -webkit-transform: translate3d(4px, 0, 0);
            -ms-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
        }
    }

    .shake.jsx-1673610358 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .shake.active.jsx-1673610358 {
        -webkit-animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    .base-signup-form-component {
        position: relative;
    }

    .base-signup-form-component .error-tooltip-text {
        color: red;
        font-weight: 300;
    }

    .base-signup-form-component .tooltip {
        -webkit-transform: translate(116%, -120%);
        -ms-transform: translate(116%, -120%);
        transform: translate(116%, -120%);
    }

    @media (max-width: 991px) {
        .base-signup-form-component .tooltip {
            -webkit-transform: translate(5%, -120%);
            -ms-transform: translate(5%, -120%);
            transform: translate(5%, -120%);
        }
    }
    .signup-form-with-decorations-component {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
        margin: 0 48px;
    }

    .signup-form-with-decorations-component .left-decoration {
        position: absolute;
        left: 0px;
        top: 50%;
        width: 40px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .signup-form-with-decorations-component .right-decoration {
        position: absolute;
        right: 0px;
        top: 50%;
        width: 40px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .signup-form-with-decorations-component .right-decoration svg, .signup-form-with-decorations-component .left-decoration svg {
        width: 100%;
    }

    @media (max-width: 450px) {
        .signup-form-with-decorations-component .base-signup-form-wrapper, .signup-form-with-decorations-component .base-signup-form-wrapper.show-decorations {
            margin: 0;
        }

        .signup-form-with-decorations-component .left-decoration, .signup-form-with-decorations-component .right-decoration {
            display: none;
        }
    }
    .simple-colorful-title-with-signup-component {
        text-align: center;
    }

    .simple-colorful-title-with-signup-component .title-wrapper .colorful-title {
        font-weight: 700;
    }

    .simple-colorful-title-with-signup-component .title-wrapper .colorful-title span {
        font-weight: 700;
    }

    .simple-colorful-title-with-signup-component .subtitle-wrapper {
        margin-top: 16px;
    }

    .simple-colorful-title-with-signup-component .subtitle-wrapper h2 {
        font-size: 20px;
    }

    .simple-colorful-title-with-signup-component .signup-form-with-decorations-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 24px;
    }
    .base-layout-segment-component.jsx-3954512829 {
        box-sizing: content-box;
    }

    .base-layout-segment-component.jsx-3954512829 .segment-content-container.jsx-3954512829 {
        max-width: 1050px;
        margin: auto;
    }

    @media (max-width: 1050px) {
        .base-layout-segment-component.jsx-3954512829 {
            padding: 0 24px;
        }
    }
    .youtube-video-component .video-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .youtube-video-component .video-container .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .youtube-video-component .video-container .content iframe {
        display: block;
    }
    .youtube-video-with-poster-component {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .youtube-video-with-poster-component:hover .play-button-container {
        background-color: #f7f7f7;
    }

    .youtube-video-with-poster-component .poster-image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
        opacity: 1;
    }

    .youtube-video-with-poster-component .poster-image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .youtube-video-with-poster-component .video-component-wrapper {
        opacity: 0;
    }

    .youtube-video-with-poster-component .video-component-wrapper iframe {
        display: block;
    }

    .youtube-video-with-poster-component .play-button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }

    .youtube-video-with-poster-component .play-button-container .play-button {
        box-sizing: border-box;
        border-color: transparent transparent transparent #333333;
        border-style: solid;
        border-width: 9px 0 9px 14px;
        position: absolute;
        left: calc(50% + 2px);
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .youtube-video-with-poster-component.hide-poster .poster-image-wrapper {
        opacity: 0;
        z-index: -1;
    }

    .youtube-video-with-poster-component.hide-poster .video-component-wrapper {
        opacity: 1;
        z-index: 1;
    }

    .lottie-component.jsx-3395544742 {
        width: 100%;
        height: 100%;
    }
    .lottie-animation-component.jsx-2898600562 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: auto;
    }
    .lottie-animation-component.jsx-337731401 svg path {
        fill: undefined;
        stroke: undefined;
    }
    .main-youtube-video-component {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main-youtube-video-component .video-component-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        width: 1050px;
        height: 590px;
    }

    .main-youtube-video-component .video-component-wrapper .youtube-video-with-poster-component {
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .main-youtube-video-component .video-component-wrapper .video-decoration-wrapper {
        position: absolute;
        top: -40px;
        left: -40px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .main-youtube-video-component .video-component-wrapper .poster-image-wrapper img, .main-youtube-video-component .video-component-wrapper iframe {
        width: 1050px;
        height: 590px;
    }

    .main-youtube-video-component .video-component-wrapper .lottie-animation-wrapper {
        position: absolute;
        right: -100px;
        top: 70%;
    }

    .main-youtube-video-component .video-component-wrapper .lottie-animation-wrapper .lottie-animation-component {
        height: 115px;
        width: 88px;
    }

    .main-youtube-video-component .video-component-wrapper .lottie-animation-wrapper .animation-text {
        -webkit-transform: translateX(36%);
        -ms-transform: translateX(36%);
        transform: translateX(36%);
        max-width: 100%;
    }

    .main-youtube-video-component .main-video-title {
        margin-top: 24px;
        font-size: 24px;
    }

    @media (max-width: 1150px) {
        .main-youtube-video-component .video-component-wrapper {
            width: 90vw;
            height: 50vw;
        }

        .main-youtube-video-component .video-component-wrapper .video-decoration-wrapper {
            -webkit-transform: rotateZ(30deg);
            -ms-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
            top: -36px;
            left: -14px;
        }

        .main-youtube-video-component .video-component-wrapper .video-decoration-wrapper svg {
            width: 4vw;
        }

        .main-youtube-video-component .video-component-wrapper .poster-image-wrapper img, .main-youtube-video-component .video-component-wrapper iframe {
            width: 90vw;
            height: 50vw;
        }

        .main-youtube-video-component .video-component-wrapper .lottie-animation-wrapper {
            display: none;
        }

        .main-youtube-video-component .main-video-title {
            margin-top: 16px;
        }
    }
    .body.jsx-2362733203 {
        font-size: 16px;
        padding-top: 16px;
        width: 100%;
    }

    .body.jsx-2362733203 div.jsx-2362733203 {
        line-height: 27px;
    }
    .asset-inner {
        position: relative;
    }

    .asset-inner .main-image {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .asset-inner .main-image.round {
        border-radius: 50%;
    }

    .asset-inner.with-shadow {
        box-shadow: 0px 2px 16px 0 rgba(0, 0, 0, 0.2);
    }
.paragaph-and-asset-columns.jsx-2273645674 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
        max-width: 45%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 .signup-wrapper.jsx-2273645674 {
        margin-top: 16px;
    }

    .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
        max-width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

    .paragaph-and-asset-columns.asset-left.jsx-2273645674 .top-line.jsx-2273645674 {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    @media (max-width: 768px) {
        .paragaph-and-asset-columns.jsx-2273645674 {
            height: auto;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .content-column.jsx-2273645674 {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-bottom: 48px;
            max-width: 100%;
        }

        .paragaph-and-asset-columns.jsx-2273645674 .top-line.jsx-2273645674 .asset-column.jsx-2273645674 {
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .customer-success-component {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line {
        box-sizing: content-box;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: end !important;
        -webkit-justify-content: flex-end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line .paragraph-component .title .colorful-title {
        font-size: 24px;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line .paragraph-component .title .colorful-title .colored {
        font-size: 24px;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line .asset-column {
        margin-bottom: 32px;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line .content-column, .customer-success-component .paragaph-and-asset-columns .top-line .asset-column {
        max-width: 100% !important;
    }

    .customer-success-component .paragaph-and-asset-columns .top-line .asset-inner img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 991px) {
        .customer-success-component .paragaph-and-asset-columns {
            width: 100%;
            text-align: center;
        }

        .customer-success-component .paragaph-and-asset-columns .top-line {
            text-align: center;
            margin: 32px auto;
            width: 100% !important;
        }
    }

    @media (max-width: 768px) {
        div.customer-success-component div.paragaph-and-asset-columns div.top-line {
            -webkit-flex-direction: column-reverse !important;
            -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
        }
    }
    .tab-component.jsx-482282641 {
        position: relative;
        text-align: center;
        min-width: 240px;
        cursor: pointer;
        padding-bottom: 16px;
    }

    .tab-component.active.jsx-482282641 .tab-underline.jsx-482282641 {
        left: 0;
        right: 0;
    }

    .tab-component.jsx-482282641 .tab-label.jsx-482282641 {
        font-weight: 700;
        font-size: 24px;
    }

    .tab-component.jsx-482282641 .tab-underline.jsx-482282641 {
        position: absolute;
        height: 5px;
        bottom: 0;
        left: 50%;
        right: 50%;
        -webkit-transition: left 0.2s ease, right 0.2s ease;
        transition: left 0.2s ease, right 0.2s ease;
    }
    .tabs-component.jsx-3930266045 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .tabs-component.jsx-3930266045 .tabs.jsx-3930266045 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
    }

    .tabs-component.jsx-3930266045 .content.jsx-3930266045 {
        padding-top: 48px;
    }
    .responive-hoc-component.jsx-154696632 .desktop-wrapper.jsx-154696632 {
        display: block;
    }

    .responive-hoc-component.jsx-154696632 .mobile-wrapper.jsx-154696632 {
        display: none;
    }

    @media (max-width: 768px) {
        .responive-hoc-component.jsx-154696632 .desktop-wrapper.jsx-154696632 {
            display: none;
        }

        .responive-hoc-component.jsx-154696632 .mobile-wrapper.jsx-154696632 {
            display: block;
        }
    }
    .image-gallery.jsx-4212844890 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .image-gallery.shadow.jsx-4212844890 {
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .image-gallery.clickable.jsx-4212844890 {
        cursor: pointer;
    }

    .image-gallery.jsx-4212844890 a.jsx-4212844890 {
        -webkit-text-decoration: none;
        text-decoration: none;
        color: #333;
    }

    .image-gallery.jsx-4212844890 .image-text.jsx-4212844890 {
        padding: 16px 0;
        text-align: center;
    }
.images-gallery-row.jsx-4077111038 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .paragraph-wrapper.jsx-4272981209 {
        margin-bottom: 24px;
    }
    .integrations-component .image-gallery {
        margin: 16px;
        width: 20%;
    }

    .integrations-component .image-gallery .social-proof-gallery-picture img {
        width: 100%;
    }

    @media (max-width: 768px) {
        .integrations-component .images-gallery-row .image-gallery {
            margin: 8px;
            width: 44%;
        }
    }
    .signup-with-animation-component.jsx-2153399483 {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .signup-with-animation-component.jsx-2153399483 .inline-flex-wrapper.jsx-2153399483 {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

    .signup-with-animation-component.left.jsx-2153399483 {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .signup-with-animation-component.right.jsx-2153399483 {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .signup-with-animation-component.jsx-2153399483 .lottie-animation-wrapper.jsx-2153399483 {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: 150px;
        position: absolute;
        -webkit-transform: translateX(95%) translateY(44px);
        -ms-transform: translateX(95%) translateY(44px);
        transform: translateX(95%) translateY(44px);
        right: 0;
        top: 0;
    }

    .signup-with-animation-component.jsx-2153399483 .button-wrapper.jsx-2153399483 {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    .signup-with-animation-component.jsx-2153399483 .button-wrapper.bounce-button.jsx-2153399483 {
        -webkit-animation: bounce-jsx-2153399483 linear 0.8s;
        animation: bounce-jsx-2153399483 linear 0.8s;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    @media (max-width: 768px) {
        .signup-with-animation-component.jsx-2153399483 .lottie-animation-wrapper.jsx-2153399483 {
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transform: translateX(25%) translateY(150px) rotateZ(45deg);
            -ms-transform: translateX(25%) translateY(150px) rotateZ(45deg);
            transform: translateX(25%) translateY(150px) rotateZ(45deg);
        }
    }

    @-webkit-keyframes bounce-jsx-2153399483 {
        0% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        15% {
            -webkit-transform: translate(-10px, -10px);
            -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
        }
        30% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        45% {
            -webkit-transform: translate(-7px, -7px);
            -ms-transform: translate(-7px, -7px);
            transform: translate(-7px, -7px);
        }
        60% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        75% {
            -webkit-transform: translate(-3px, -3px);
            -ms-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
        }
        100% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
    }

    @keyframes bounce-jsx-2153399483 {
        0% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        15% {
            -webkit-transform: translate(-10px, -10px);
            -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
        }
        30% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        45% {
            -webkit-transform: translate(-7px, -7px);
            -ms-transform: translate(-7px, -7px);
            transform: translate(-7px, -7px);
        }
        60% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        75% {
            -webkit-transform: translate(-3px, -3px);
            -ms-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
        }
        100% {
            -webkit-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
    }
    .companies-with-logos-component {
        position: relative;
    }

    .companies-with-logos-component .image-gallery {
        padding: 24px;
    }

    .companies-with-logos-component .image-gallery .social-proof-gallery-picture img {
        width: 148px;
    }

    .companies-with-logos-component .signup-wrapper {
        margin-top: 48px;
    }

    @media (max-width: 991px) {
        .companies-with-logos-component .signup-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    @media (max-width: 768px) {
        .companies-with-logos-component .images-gallery-row {
            -webkit-box-pack: space-around;
            -webkit-justify-content: space-around;
            -ms-flex-pack: space-around;
            justify-content: space-around;
        }

        .companies-with-logos-component .images-gallery-row .image-gallery {
            padding: 4px;
        }

        .companies-with-logos-component .images-gallery-row .image-gallery img {
            width: 120px;
        }
    }
.social-media-icon.jsx-1009237492 .regular-icon-container.jsx-1009237492 {
        display: block;
    }

    .social-media-icon.jsx-1009237492 .colorful-icon-container.jsx-1009237492 {
        display: none;
    }

    .social-media-icon.jsx-1009237492:hover .regular-icon-container.jsx-1009237492:not(.force-display) {
        display: none;
    }

    .social-media-icon.jsx-1009237492:hover .colorful-icon-container.jsx-1009237492 {
        display: block;
    }
.app-icons {
        margin: 16px 0;
    }





.link.jsx-4019638165 {
        margin-bottom: 24px;
    }

    .link.jsx-4019638165:hover {
        color: #595AD4;
    }

    .link.jsx-4019638165 a.jsx-4019638165 {
        -webkit-text-decoration: none;
        text-decoration: none;
        color: inherit;
    }

.palette-icons-container.jsx-792080720 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
        width: 185px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
        margin-right: 24px;
    }

    .palette-icons-container.jsx-792080720 .single-app-icon-wrapper.jsx-792080720 {
        margin-right: 8px;
    }

    @media (max-width: 768px) {
        .palette-icons-container.jsx-792080720 {
            margin: 0 auto;
            padding: 0;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 16px;
        }

        .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
            margin-right: auto;
        }

        .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
            width: 240px;
            margin: 0 auto;
            margin-bottom: 8px;
        }
    }


    .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
        padding-top: 5px;
    }

    .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 .red-heart.jsx-4027396861 {
        height: 12px;
        width: 14px;
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .social-footer-component.jsx-4027396861 .items-container.jsx-4027396861 {
            padding: 0 54px;
        }
    }

    @media (max-width: 768px) {
        .social-footer-component.jsx-4027396861 .made-with-love-sentence.jsx-4027396861 {
            display: none;
        }
    }


body, html {
        font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
        color: #333;
    }

    body {
        overflow-x: hidden;
    }

    * {
        font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
        box-sizing: border-box;
        font-weight: 300;
        outline: none;
    }

    button, a {
        cursor: pointer;
    }

    html {
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 0;
    }

    article, aside, footer, header, nav, section {
        display: block;
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }

    h2 {
        margin: 0;
    }

    figcaption, figure, main {
        display: block;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    pre {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline;
        text-decoration: underline;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    b, strong {
        font-weight: inherit;
    }

    b, strong {
        font-weight: bolder;
    }

    code, kbd, samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    dfn {
        font-style: italic;
    }

    mark {
        background-color: #ff0;
        color: #000;
    }

    small {
        font-size: 80%;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    audio, video {
        display: inline-block;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    img {
        border-style: none;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    button, input, optgroup, select, textarea {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }

    button, input {
        overflow: visible;
    }

    button, select {
        text-transform: none;
    }

    button, html [type="button"], [type="reset"], [type="submit"] {
        -webkit-appearance: button;
    }

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }

    legend {
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal;
    }

    progress {
        display: inline-block;
        vertical-align: baseline;
    }

    textarea {
        overflow: auto;
    }

    [type="checkbox"], [type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
    }

    [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
    }

    details, menu {
        display: block;
    }

    summary {
        display: list-item;
    }

    canvas {
        display: inline-block;
    }

    template {
        display: none;
    }

    [hidden] {
        display: none;
    }