.plan-feature-tooltip-text.jsx-3066633563 {
    width: 300px;
    visibility: hidden;
    background-color: #f5f5f5;
    color: black;
    text-align: left;
    padding: 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0.9;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.outline-button.default.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
}

.outline-button.default.jsx-3998797232 a.jsx-3998797232 {
    position: relative;
    display: block;
    border: 1px solid;
    color: #333;
    padding: 7px 18px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.default.jsx-3998797232 a.loading.jsx-3998797232 {
    cursor: default;
}

.outline-button.default.jsx-3998797232 a.jsx-3998797232 .content.loading.jsx-3998797232 {
    opacity: 0;
}

.outline-button.default.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}

.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}

.outline-button.default.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}

.outline-button.circled.jsx-3998797232:hover a.jsx-3998797232 {
    background-color: #333;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}

.outline-button.circled.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    border: 1px solid;
    border-radius: 24px;
    color: #333;
    padding: 8px 24px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.circled.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 8px 16px;
}

.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
    border-color: #fff;
}

.outline-button.circled.light-theme.jsx-3998797232:not(.scroll-mode):hover a.jsx-3998797232 {
    color: #00a9ff;
    background-color: #fff;
}

.outline-button.textual.jsx-3998797232:hover a.jsx-3998797232 {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.outline-button.textual.jsx-3998797232 a.jsx-3998797232 {
    display: block;
    color: #333;
    padding: 10px 0;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 300;
}

.outline-button.textual.scroll-mode.jsx-3998797232 a.jsx-3998797232 {
    padding: 10px 0;
}

.outline-button.textual.light-theme.jsx-3998797232:not(.scroll-mode) a.jsx-3998797232 {
    color: #fff;
}

.outline-button.default:hover a svg circle {
    stroke: white;
}

.outline-button.default a .spinner {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
}

.menu-component.jsx-930398070 {
    position: relative;
}

.menu-component.jsx-930398070 .button-wrapper.jsx-930398070 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-component.jsx-930398070 .menu-content-wrapper.jsx-930398070 {
    position: absolute;
}

.use-cases.jsx-1511252560 .menu-content-component {
    width: 456px;
}

.navbar-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.top-header-link-wrapper, .top-header-login-link-wrapper {
    margin-left: 24px;
}

.top-header-link-wrapper .outline-button.textual a.top-bar-link div.content, .top-header-login-link-wrapper .outline-button.textual a.top-bar-link div.content {
    font-weight: 400;
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
}

.top-header-link-wrapper .outline-button.textual:hover a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:hover a.top-bar-link {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.top-header-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link, .top-header-login-link-wrapper .outline-button.textual:not(:hover) a.top-bar-link {
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.top-header-link-wrapper:first-child .outline-button.textual a:hover, .top-header-link-wrapper:first-child .outline-button.textual a.selected {
    color: #A358DF;
}

.top-header-link-wrapper:nth-child(2) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(2) .outline-button.textual a.selected {
    color: #00CC6F;
}

.top-header-link-wrapper:nth-child(3) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(3) .outline-button.textual a.selected {
    color: #ff0476;
}

.top-header-link-wrapper:nth-child(4) .outline-button.textual a:hover, .top-header-link-wrapper:nth-child(4) .outline-button.textual a.selected {
    color: #00A9FF;
}

.top-header-login-link-wrapper .outline-button.circled a.login-top-bar {
    font-size: 16px;
}

.top-header-login-link-wrapper .outline-button.circled a.login-top-bar div {
    font-family: sofia-pro, sans-serif;
}

.top-header-login-link-wrapper .outline-button.circled:hover a.login-top-bar {
    border-color: #A358DF;
    background-color: transparent;
    color: #A358DF;
}

nav.navbar.jsx-3980414583 {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100vw;
    padding: 12px;
    z-index: 555;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

nav.navbar.jsx-3980414583 .top-bar-content.jsx-3980414583 {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

nav.navbar.sticky-mode.jsx-3980414583 {
    position: static;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav.navbar.jsx-3980414583 .logo-wrapper.jsx-3980414583 .logo-link.jsx-3980414583 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav.navbar.jsx-3980414583 .social-share-buttons-wrapper.jsx-3980414583 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) {
    background-color: #fff !important;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px;
}

nav.navbar.scroll-mode.jsx-3980414583:not(.sticky-mode) .logo-wrapper.jsx-3980414583 .homepage-logo.jsx-3980414583 svg {
    width: 167px;
}

.navbar-padding.jsx-3980414583 {
    height: 65px;
}

.navbar-padding.sticky-mode.jsx-3980414583 {
    display: none;
}

.navbar-padding.top-banner.jsx-3980414583 {
    height: 100px;
}

nav.navbar .homepage-logo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
}

nav.navbar .homepage-logo svg {
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 167px;
}

nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.light-theme svg .m-shapes {
    fill: #fff;
}

nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .text-shapes, nav.navbar:not(.scroll-mode) .homepage-logo.black-theme svg .m-shapes {
    fill: #333;
}

nav.navbar:not(.scroll-mode) .homepage-logo.light-color-theme svg .text-shapes {
    fill: #fff;
}

.hamburger-menu.jsx-1699065342 {
    width: 28px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 667;
    margin-left: 24px;
    margin-right: 8px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342 {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
    top: 8px;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(2), .hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
    top: 17px;
}

.hamburger-menu.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
    top: 26px;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342 {
    background-color: #333;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-menu.open.jsx-1699065342 span.jsx-1699065342:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.picture-component.blur-image.jsx-291256668 img.jsx-291256668 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.side-menu-mobile.jsx-1410744371 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 65px;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition: top 0.1s ease-in-out, opacity 0.1s ease-in-out;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
}

.side-menu-mobile.open.jsx-1410744371 {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    z-index: 0;
}

.side-menu-mobile.open.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    opacity: 1;
}

.side-menu-mobile.scroll-mode.jsx-1410744371 {
    top: 58px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff0476;
    z-index: 1000;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
    margin: 16px 0;
    display: block;
    color: #fff;
    font-weight: 300;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 40px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
}

.side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.buttom-bottons.jsx-1410744371 .download-app-wrapper.jsx-1410744371 {
    cursor: pointer;
}

@media (max-width: 450px) {
    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .side-menu-mobile.jsx-1410744371 .side-menu-mobile-dialog.jsx-1410744371 section.links-section.jsx-1410744371 a {
        font-size: 24px;
        margin: 8px 0;
    }
}

.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper {
    margin: 0 8px;
}

.side-menu-mobile-dialog section.buttom-bottons .download-app-wrapper img {
    width: 45vw;
    max-width: 200px;
}

.side-menu-mobile-dialog section.buttom-bottons .decoration svg {
    width: 40px;
}

.side-menu-mobile-dialog section.buttom-bottons .decoration svg rect {
    fill: #fff;
}

@media (max-width: 768px) {
    nav.navbar, nav.navbar.scroll-mode {
        padding: 12px 8px;
    }

    nav.navbar .logo-wrapper .homepage-logo, nav.navbar.scroll-mode .logo-wrapper .homepage-logo {
        padding: 0 8px;
    }

    nav.navbar .logo-wrapper .homepage-logo svg, nav.navbar.scroll-mode .logo-wrapper .homepage-logo svg {
        width: 167px;
    }

    .navbar-padding {
        height: 54px;
    }

    .social-share-buttons-wrapper {
        display: none;
    }

    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-light-theme svg path {
        fill: #fff;
    }

    nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg ellipse, nav.navbar:not(.scroll-mode) .homepage-logo.mobile-black-theme svg path {
        fill: #333;
    }
}

.top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
    display: none;
}

@media (max-width: 769px) {
    .top-bar-component.jsx-264232974 .top-bar-desktop-wrapper.jsx-264232974 {
        display: none;
    }

    .top-bar-component.jsx-264232974 .top-bar-mobile-wrapper.jsx-264232974 {
        display: block;
    }
}

input.jsx-2959308043 {
    min-width: 240px;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media (max-width: 991px) {
    input.jsx-2959308043 {
        min-width: 120px;
        max-width: none;
        width: 100%;
    }
}

button.ladda-button {
    padding: 16px 32px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    font-weight: 400;
    outline: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.ladda-button[data-style="zoom-in"]:not(:hover) {
    -webkit-transition: 0.2s ease background-color;
    transition: 0.2s ease background-color;
}

button.ladda-button:disabled {
    cursor: auto;
}

button.ladda-button img {
    vertical-align: middle;
}

button.ladda-button.blue {
    background-color: #00a9ff;
    color: #fff;
}

button.ladda-button.blue:hover {
    background-color: #0087CC;
}

button.ladda-button.blue:disabled {
    background-color: #0087CC;
}

button.ladda-button.outline-blue {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    color: #00a9ff;
}

button.ladda-button.outline-blue:hover {
    background-color: #fff;
}

button.ladda-button.outline-blue:disabled {
    background-color: #fff;
}

button.ladda-button.brand-pink {
    background-color: #ff0476;
    color: #fff;
}

button.ladda-button.brand-pink:hover {
    background-color: #b70053;
}

button.ladda-button.brand-pink:disabled {
    background-color: #b70053;
}

button.ladda-button.brand-blue {
    background-color: #00A9FF;
    color: #fff;
}

button.ladda-button.brand-blue:hover {
    background-color: #0087CC;
}

button.ladda-button.brand-blue:disabled {
    background-color: #0087CC;
}

button.ladda-button.brand-iris {
    background-color: #595ad4;
    color: #fff;
}

button.ladda-button.brand-iris:hover {
    background-color: #3335c7;
}

button.ladda-button.brand-red {
    background-color: #FB275D;
    color: #fff;
}

button.ladda-button.brand-red:hover {
    background-color: #c12c52;
}

button.ladda-button.brand-red:disabled {
    background-color: #c12c52;
}

button.ladda-button.brand-green {
    background-color: #00CC6F;
    color: #fff;
}

button.ladda-button.brand-green:hover {
    background-color: #099655;
}

button.ladda-button.brand-green:disabled {
    background-color: #099655;
}

button.ladda-button.brand-yellow {
    background-color: #FFCC00;
    color: #fff;
}

button.ladda-button.brand-yellow:hover {
    background-color: #b79407;
}

button.ladda-button.brand-yellow:disabled {
    background-color: #b79407;
}

button.ladda-button.small {
    font-size: 14px;
    padding: 12px 9vw;
    font-weight: 300;
}

button.ladda-button.sm {
    font-size: 14px;
    padding: 20px 32px;
    font-weight: 300;
}

button.ladda-button.xl {
    font-size: 18px;
    padding: 16px 120px;
    font-weight: 400;
}

.ladda-button {
    position: relative;
}

.ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    top: 50%;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
}

.ladda-button .ladda-label {
    position: relative;
    z-index: 3;
}

.ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.ladda-button[data-style="zoom-in"], .ladda-button[data-style="zoom-in"] .ladda-spinner, .ladda-button[data-style="zoom-in"] .ladda-label, .ladda-button[data-style="zoom-out"], .ladda-button[data-style="zoom-out"] .ladda-spinner, .ladda-button[data-style="zoom-out"] .ladda-label {
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

.ladda-button[data-style="zoom-out"] {
    overflow: hidden;
}

.ladda-button[data-style="zoom-out"] .ladda-spinner {
    left: 50%;
    margin-left: 32px;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
}

.ladda-button[data-style="zoom-out"] .ladda-label {
    position: relative;
    display: inline-block;
}

.ladda-button[data-style="zoom-out"][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.ladda-button[data-style="zoom-out"][data-loading] .ladda-spinner {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.ladda-button[data-style="zoom-in"] {
    overflow: hidden;
}

.ladda-button[data-style="zoom-in"] .ladda-spinner {
    left: 50%;
    margin-left: -16px;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
}

.ladda-button[data-style="zoom-in"] .ladda-label {
    position: relative;
    display: inline-block;
}

.ladda-button[data-style="zoom-in"][data-loading] .ladda-label {
    opacity: 0;
    -webkit-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
}

.ladda-button[data-style="zoom-in"][data-loading] .ladda-spinner {
    opacity: 1;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.signup-form-core-component-wrapper.jsx-1388203185 .phoneno.jsx-1388203185 {
    display: none;
}

.signup-form-core-component-wrapper.align-left.jsx-1388203185 form.jsx-1388203185 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (max-width: 991px) {
    .signup-form-core-component-wrapper.jsx-1388203185 form.jsx-1388203185 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.signup-form-core-component-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.signup-form-core-component-wrapper input {
    font-size: 18px;
    padding: 16px 24px;
    color: #333;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 40px;
    background-color: #f5f5f5;
    text-align: left;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
    outline: none;
    margin: 8px 0.5vw 8px 0;
}

.signup-form-core-component-wrapper input:hover::-webkit-input-placeholder, .signup-form-core-component-wrapper input:focus::-webkit-input-placeholder {
    color: #00a9ff;
}

.signup-form-core-component-wrapper input:hover::-moz-placeholder, .signup-form-core-component-wrapper input:focus::-moz-placeholder {
    color: #00a9ff;
}

.signup-form-core-component-wrapper input:hover:-ms-input-placeholder, .signup-form-core-component-wrapper input:focus:-ms-input-placeholder {
    color: #00a9ff;
}

.signup-form-core-component-wrapper input:hover::placeholder, .signup-form-core-component-wrapper input:focus::placeholder {
    color: #00a9ff;
}

.signup-form-core-component-wrapper input:focus {
    border-color: #00a9ff;
    background-color: #fff;
}

.signup-form-core-component-wrapper.error input, .signup-form-core-component-wrapper.error input:focus {
    border-color: red;
}

@media (max-width: 991px) {
    .signup-form-core-component-wrapper {
        text-align: center;
    }

    .signup-form-core-component-wrapper input {
        margin-bottom: 16px;
        font-size: 16px;
        padding: 16px 48px;
        margin-right: 0;
        text-align: center;
    }

    .signup-form-core-component-wrapper .signup-button-wrapper {
        width: 100%;
    }

    .signup-form-core-component-wrapper .signup-button-wrapper button {
        font-size: 16px;
        padding: 16px 48px;
        width: 100%;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input {
        width: 90%;
        border-radius: 0;
        border-color: #e1e1e1;
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input::-webkit-input-placeholder {
        color: #333;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input::-moz-placeholder {
        color: #333;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:-ms-input-placeholder {
        color: #333;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input::placeholder {
        color: #333;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:hover::-webkit-input-placeholder, .mobile-clean-look .signup-form-core-component-wrapper input:focus::-webkit-input-placeholder {
        color: #e1e1e1;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:hover::-moz-placeholder, .mobile-clean-look .signup-form-core-component-wrapper input:focus::-moz-placeholder {
        color: #e1e1e1;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:hover:-ms-input-placeholder, .mobile-clean-look .signup-form-core-component-wrapper input:focus:-ms-input-placeholder {
        color: #e1e1e1;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:hover::placeholder, .mobile-clean-look .signup-form-core-component-wrapper input:focus::placeholder {
        color: #e1e1e1;
    }

    .mobile-clean-look .signup-form-core-component-wrapper input:focus {
        border-color: #e1e1e1;
    }

    .mobile-clean-look .signup-form-core-component-wrapper .signup-button-wrapper {
        width: 70%;
    }

    .mobile-clean-look .signup-form-core-component-wrapper .signup-button-wrapper button {
        font-size: 16px;
        padding: 16px 8px;
        margin-bottom: 16px;
        width: 100%;
        background-color: #00A9FF;
    }

    .mobile-clean-look .signup-form-core-component-wrapper .signup-button-wrapper button:hover {
        background-color: #0087CC;
    }
}

@-webkit-keyframes shake-jsx-1673610358 {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake-jsx-1673610358 {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.shake.jsx-1673610358 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.shake.active.jsx-1673610358 {
    -webkit-animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake-jsx-1673610358 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.signup-form-wrapper {
    width: 100%;
    position: relative;
}

.signup-form-wrapper .signup-form-title {
    text-align: center;
    margin-bottom: 24px;
}

.signup-form-wrapper .signup-form-title h1 {
    font-weight: 500;
}

.signup-form-wrapper.with-subtitle .signup-form-title {
    margin-bottom: 8px;
}

.signup-form-wrapper.text-under-buttons .signup-form-subtitle {
    margin-bottom: 0;
    margin-top: 24px;
}

.signup-form-wrapper .signup-form-subtitle {
    text-align: center;
    margin-bottom: 24px;
}

.signup-form-wrapper .signup-form-subtitle h2 {
    font-weight: 300;
}

.signup-form-wrapper .error-tooltip-text {
    color: red;
    font-weight: 300;
}

.signup-form-wrapper .tooltip {
    -webkit-transform: translate(10%, -120%);
    -ms-transform: translate(10%, -120%);
    transform: translate(10%, -120%);
}

@media (max-width: 768px) {
    .signup-form-wrapper .tooltip {
        -webkit-transform: translate(5%, -120%);
        -ms-transform: translate(5%, -120%);
        transform: translate(5%, -120%);
    }
}

.pricing-top-section.jsx-1029635661 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.pricing-top-title.jsx-1029635661 {
    font-size: 48px;
    padding: 0 8px;
    font-weight: 700;

}

.pricing-top-signup-wrapper.jsx-1029635661 {
    margin-top: 32px;
    text-align: center;
}

@media (max-width: 991px) {
    .pricing-top-signup-wrapper.jsx-1029635661 {
        display: none;
    }

    .pricing-top-title.jsx-1029635661 {
        font-size: 32px;
    }
}

.pricing-top-description.jsx-1029635661 {
    font-size: 16px;
    color: #787878;
    margin-top: 10px;
}

.period-item.jsx-636685882 {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.period-item.jsx-636685882:not(:last-child) {
    border-right: 1px solid;
    border-color: #333;
}

.period-item.jsx-636685882:hover.jsx-636685882:not(.selected) {
    color: #00a1e6;
}

.period-item.selected.jsx-636685882 {
    color: #00a1e6;
}

.payments-pricing-periods-wrapper.jsx-3742688017 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.payments-pricing-periods-wrapper.jsx-3742688017 .payments-pricing-periods.jsx-3742688017 {
    font-size: 15px;
}

.user-selection-option.jsx-1595149912 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.user-selection-option.jsx-1595149912:not(:last-child) {
    border: 1px solid;
    border-color: #c4c4c4;
    border-right: 0;
}

.user-selection-option.jsx-1595149912:first-child {
    border-radius: 2px 0;
}

.user-selection-option.jsx-1595149912:last-child {
    border-radius: 0 2px 2px 0;
    border: 1px solid;
    border-color: #c4c4c4;
}

.user-selection-option.jsx-1595149912:hover.jsx-1595149912:not(.selected) {
    color: #9d5de0;
}

.user-selection-option.selected.jsx-1595149912 {
    color: white;
    position: relative;
    background-color: #9d5de0;
}

.user-selection-option.selected.jsx-1595149912:after {
    opacity: 1;
    bottom: -5px;
    background: #9d5de0;
}

.user-selection-option.jsx-1595149912:after {
    content: "";
    position: absolute;
    left: 46px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 26px;
    height: 26px;
    -webkit-clip: rect(13px, 26px, 26px, 13px);
    clip: rect(13px, 26px, 26px, 13px);
    background: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    bottom: 4px;
}

.pricing-users-count-container.jsx-3308074835 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    width: 100%;
    margin: 0 8px;
    padding-right: 16px;
}

.plan-price-text.jsx-1065529218 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.plan-price-text.jsx-1065529218 .plan-price-currency-text.jsx-1065529218 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 6px;
}

.plan-price-text.jsx-1065529218 .plan-price-number.jsx-1065529218 {
    font-size: 45px;
    font-weight: 400;
}

.plan-price-text.jsx-1065529218 .plan-price-per-month-text.jsx-1065529218 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 6px;
}

.plan-price-contact-us.jsx-1065529218 {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    border: 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.plan-price-contact-us.jsx-1065529218:hover {
    -webkit-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    transform: translate(0, -4px);
}

@media (min-width: 769px) and (max-width: 991px) {
    .plan-price-text.jsx-1065529218 .plan-price-currency-text.jsx-1065529218 {
        font-size: 16px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-number.jsx-1065529218 {
        font-size: 48px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-per-month-text.jsx-1065529218 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .plan-price-text.jsx-1065529218 .plan-price-currency-text.jsx-1065529218 {
        font-size: 14px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-number.jsx-1065529218 {
        font-size: 40px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-per-month-text.jsx-1065529218 {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .plan-price-text.jsx-1065529218 .plan-price-currency-text.jsx-1065529218 {
        font-size: 10px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-number.jsx-1065529218 {
        font-size: 32px;
    }

    .plan-price-text.jsx-1065529218 .plan-price-per-month-text.jsx-1065529218 {
        font-size: 12px;
    }
}

.features-header-text.jsx-1757491152 {
    min-height: 72px;
    margin-bottom: 16px;
}

.features-header-text.jsx-1757491152 .features-header-text-content.jsx-1757491152 {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-header-text-content-second-content.jsx-1757491152 {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

.features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus.jsx-1757491152 {
    font-size: 15px;
    font-weight: 500;
    padding-top: 8px;
}

.features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus-yellow.jsx-1757491152 {
    color: #fab715;
}

.features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus-green.jsx-1757491152 {
    color: #40c870;
}

.features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus-purple.jsx-1757491152 {
    color: #9d5de0;
}

@media (max-width: 991px) {
    .features-header-text.jsx-1757491152 .features-header-text-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-header-text-content-second-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus.jsx-1757491152 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .features-header-text.jsx-1757491152 .features-header-text-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-header-text-content-second-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus.jsx-1757491152 {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .features-header-text.jsx-1757491152 .features-header-text-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-header-text-content-second-content.jsx-1757491152, .features-header-text.jsx-1757491152 .features-header-text-content-second-line.jsx-1757491152 .features-second-line-plus.jsx-1757491152 {
        font-size: 14px;
    }
}

.plan-feature-wrapper.jsx-3843086273 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 24px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px;
}

.plan-feature-wrapper.jsx-3843086273 .pricing-checkmark.jsx-3843086273 {
    padding-top: 2px;
}

.plan-feature-wrapper.jsx-3843086273 .plan-feature.jsx-3843086273 {
    position: relative;
    font-size: 14px;
    padding-left: 16px;
    text-align: left;
    padding-right: 16px;
}

.plan-feature-tooltip-text.jsx-3843086273 {
    width: 300px;
    visibility: hidden;
    background-color: #f5f5f5;
    color: black;
    text-align: left;
    padding: 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0.9;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.plan-feature-tooltip-text.jsx-3843086273 {
    opacity: 0;
}

.plan-feature.jsx-3843086273:hover .plan-feature-tooltip-text.jsx-3843086273 {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0s linear 0.3s;
    transition: opacity 0s linear 0.3s;
}

.plan-feature-tooltip-text.jsx-3843086273::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-top-color: #f5f5f5;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

@media (min-width: 769px) and (max-width: 991px) {
    .plan-feature-wrapper.jsx-3843086273 {
        margin-bottom: 16px;
        padding-left: 32px;
    }

    .plan-feature-wrapper.jsx-3843086273 .plan-feature.jsx-3843086273 {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .plan-feature-wrapper.jsx-3843086273 {
        margin-bottom: 16px;
    }

    .plan-feature-wrapper.jsx-3843086273 .plan-feature.jsx-3843086273 {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .plan-feature-wrapper.jsx-3843086273 {
        margin-bottom: 8px;
    }

    .plan-feature-wrapper.jsx-3843086273 .plan-feature.jsx-3843086273 {
        font-size: 14px;
    }
}

.plan-features-container.jsx-117003128 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
    text-align: center;
    width: 100%;
}

.plan-features-list.jsx-117003128 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    width: 100%;
}

.plan-container.jsx-442581490 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 232px;
    border: 1px solid;
    border-color: #efefef;
    margin: 0 8px;
    -webkit-transition: 0.6s box-shadow;
    transition: 0.6s box-shadow;
    cursor: pointer;
    background: white;
}

.plan-container.selected.jsx-442581490 {
    border: 2px solid;
}

.plan-container.selected.plan-container-yellow.jsx-442581490 {
    border-color: #fab715;
}

.plan-container.selected.plan-container-red.jsx-442581490 {
    border-color: #ff3e59;
}

.plan-container.selected.plan-container-green.jsx-442581490 {
    border-color: #40c870;
}

.plan-container.selected.plan-container-purple.jsx-442581490 {
    border-color: #9d5de0;
}

.plan-container.jsx-442581490 .plan-header.jsx-442581490 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.plan-container.jsx-442581490 .plan-header-red.jsx-442581490 {
    background: #ff3e59;
}

.plan-container.jsx-442581490 .plan-header-yellow.jsx-442581490 {
    background: #fab715;
}

.plan-container.jsx-442581490 .plan-header-green.jsx-442581490 {
    background: #40c870;
}

.plan-container.jsx-442581490 .plan-header-purple.jsx-442581490 {
    background: #9d5de0;
}

.plan-container.jsx-442581490 .plan-price.jsx-442581490 {
    margin-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.plan-container.jsx-442581490 .plan-price-red.jsx-442581490 {
    color: #ff3e59;
}

.plan-container.jsx-442581490 .plan-price-yellow.jsx-442581490 {
    color: #fab715;
}

.plan-container.jsx-442581490 .plan-price-green.jsx-442581490 {
    color: #40c870;
}

.plan-container.jsx-442581490 .plan-price-purple.jsx-442581490 {
    color: #9d5de0;
}

.plan-container.jsx-442581490 .plan-price.jsx-442581490 .plan-top-text.jsx-442581490 {
    font-size: 18px;
    text-align: center;
    height: 24px;
    font-weight: 400;
}

.plan-container.jsx-442581490 .plan-billing-text.jsx-442581490 {
    margin-top: 8px;
    font-size: 14px;
    min-height: 24px;
    color: #c4c4c4;
}

.plan-container.jsx-442581490 .plan-feature-component-wrapper.jsx-442581490 {
    margin-top: 16px;
    width: 100%;
}

@media (max-width: 991px) {
    .plan-container.jsx-442581490 {
        width: 100%;
        pointer-events: none;
        margin: 0 0 70px 0;
    }

    .plan-container.isCurrentSlide.jsx-442581490 {
        box-shadow: 0px 16px 24px -4px rgba(0, 0, 0, 0.16);
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .plan-container.jsx-442581490 {
        min-height: 800px;
    }

    .plan-container.jsx-442581490 .plan-header.jsx-442581490 {
        font-size: 36px;
    }

    .plan-container.jsx-442581490 .plan-billing-text.jsx-442581490 {
        font-size: 18px;
    }

    .plan-container.jsx-442581490 .plan-price.jsx-442581490 .plan-top-text.jsx-442581490 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .plan-container.jsx-442581490 {
        min-height: 750px;
    }

    .plan-container.jsx-442581490 .plan-header.jsx-442581490 {
        font-size: 24px;
    }

    .plan-container.jsx-442581490 .plan-billing-text.jsx-442581490 {
        font-size: 14px;
    }

    .plan-container.jsx-442581490 .plan-price.jsx-442581490 .plan-top-text.jsx-442581490 {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .plan-container.jsx-442581490 {
        min-height: 650px;
    }

    .plan-container.jsx-442581490 .plan-header.jsx-442581490 {
        font-size: 20px;
    }

    .plan-container.jsx-442581490 .plan-billing-text.jsx-442581490 {
        font-size: 12px;
    }

    .plan-container.jsx-442581490 .plan-price.jsx-442581490 .plan-top-text.jsx-442581490 {
        font-size: 14px;
    }
}

.pricing-users-count-container.jsx-311422583 {
    font-size: 18px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 24px;
}

.Select {
    position: relative;
}

.Select input::-webkit-contacts-auto-fill-button, .Select input::-webkit-credentials-auto-fill-button {
    display: none !important;
}

.Select input::-ms-clear {
    display: none !important;
}

.Select input::-ms-reveal {
    display: none !important;
}

.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 0.35;
}

.Select.is-disabled > .Select-control {
    background-color: #f9f9f9;
}

.Select.is-disabled > .Select-control:hover {
    box-shadow: none;
}

.Select.is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9;
}

.Select.is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.Select.is-searchable.is-open > .Select-control {
    cursor: text;
}

.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
}

.Select.is-focused > .Select-control {
    background: #fff;
}

.Select.is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
    background: #fff;
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 42px;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #333;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover, .Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #007eff;
    outline: none;
    text-decoration: underline;
}

.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    background: #fff;
}

.Select.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}

.Select.is-open .Select-arrow, .Select .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
}

.Select.Select--rtl {
    direction: rtl;
    text-align: right;
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Select-control .Select-input:focus {
    outline: none;
    background: #fff;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 17px;
    padding: 8px 0 12px;
    -webkit-appearance: none;
}

.is-focused .Select-input > input {
    cursor: text;
}

.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}

.Select-control:not(.is-searchable) > .Select-input {
    outline: none;
}

.Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}

.Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
}

.Select-clear-zone:hover {
    color: #D0021B;
}

.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.Select--multi .Select-clear-zone {
    width: 17px;
}

.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}

.Select--rtl .Select-arrow-zone {
    padding-right: 0;
    padding-left: 5px;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
}

.Select-control > *:last-child {
    padding-right: 5px;
}

.Select--multi .Select-multi-value-wrapper {
    display: inline-block;
}

.Select .Select-aria-only {
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
}

@-webkit-keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}

.Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Select-option.is-selected {
    background-color: #f5faff;
    background-color: rgba(0, 126, 255, 0.04);
    color: #333;
}

.Select-option.is-focused {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
}

.Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
}

.Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}

.Select--multi.Select--rtl .Select-input {
    margin-left: 0;
    margin-right: 10px;
}

.Select--multi.has-value .Select-input {
    margin-left: 5px;
}

.Select--multi .Select-value {
    background-color: #ebf5ff;
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #007eff;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.Select--multi .Select-value-icon, .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
}

.Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
}

.Select--multi a.Select-value-label {
    color: #007eff;
    cursor: pointer;
    text-decoration: none;
}

.Select--multi a.Select-value-label:hover {
    text-decoration: underline;
}

.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
}

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
    background-color: #d8eafd;
    background-color: rgba(0, 113, 230, 0.08);
    color: #0071e6;
}

.Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    background-color: rgba(0, 126, 255, 0.24);
}

.Select--multi.Select--rtl .Select-value {
    margin-left: 0;
    margin-right: 5px;
}

.Select--multi.Select--rtl .Select-value-icon {
    border-right: none;
    border-left: 1px solid #c2e0ff;
    border-left: 1px solid rgba(0, 126, 255, 0.24);
}

.Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
}

.Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
}

.Select--multi.is-disabled .Select-value-icon:hover, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
}

@keyframes Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

.payments-mobile-pricing-periods-wrapper.jsx-1544429866 {
    margin-left: 8px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-right: 24px;
}

.pricing-section-container.jsx-1856235351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 36px;
}

.pricing-section-container.jsx-1856235351 .pricing-plans.jsx-1856235351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
}

.mobile-pricing-section-container.jsx-1856235351 {
    display: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 18px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-pricing-section-container.jsx-1856235351 .pricing-selections-container.jsx-1856235351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100vw;
}

.mobile-pricing-section-container.jsx-1856235351 .mobile-pricing-plans.jsx-1856235351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
}

.mobile-pricing-section-container.jsx-1856235351 .mobile-signup-button-wrapper.jsx-1856235351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 32px;
}

@media (max-width: 991px) {
    .pricing-section-container.jsx-1856235351 {
        display: none;
    }

    .mobile-pricing-section-container.jsx-1856235351 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.faq-item-container.jsx-917517686 {
    width: 100%;
    padding: 25px 0;
}

.faq-question-item.jsx-917517686 {
    margin-top: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq-question-text.jsx-917517686 {
    font-size: 20px;
    padding-right: 8px;
}

.down-arrow-wrapper.jsx-917517686 {
    margin-right: 16px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.down-arrow-wrapper.jsx-917517686 svg {
    width: 24px;
    height: 24px;
}

.down-arrow-wrapper.open.jsx-917517686 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    bottom: 8px;
}

.faq-answer-item.jsx-917517686 {
    font-size: 14px;
    opacity: 0;
    display: none;
    line-height: 1.6;
}

.faq-answer-item.open.jsx-917517686 {
    display: block;
    margin: 40px;
    opacity: 1;
}

@media (max-width: 991px) {
    .faq-question-text.jsx-917517686 {
        font-size: 16px;
        font-weight: 500;
    }

    .faq-answer-item.jsx-917517686 {
        font-size: 16px;
    }

    .faq-answer-item.open.jsx-917517686 {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 80px;
    }
}

.faq-list.jsx-3264957683 {
    width: 800px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.faq-list-item.jsx-3264957683 {
    list-style: none;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.faq-container.jsx-840516434 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f9f9f9;
    padding: 100px 16px;
    width: 100%;
}

.faq-title.jsx-840516434 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

@media (max-width: 991px) {
    .faq-container.jsx-840516434 {
        padding-top: 48px;
    }

    .faq-container.jsx-840516434 .faq-title.jsx-840516434 {
        font-size: 24px;
    }
}

.pricing-bottom-wrapper.jsx-2675596094 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-title.jsx-2675596094 {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.bottom-signup-wrapper.jsx-2675596094 {
    margin: 32px 0;
}

.bottom-description.jsx-2675596094 {
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
}

@media (max-width: 991px) {
    .bottom-title.jsx-2675596094 {
        font-size: 24px;
    }

    .bottom-description.jsx-2675596094 {
        font-size: 16px;
    }
}

.content-wrapper.jsx-2709407614 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 64px;
}

.middle-page-text.jsx-2709407614 {
    font-size: 32px;
    margin-top: 120px;
    text-align: center;
    padding: 0 16px;
}

.pricing-section-wrapper.jsx-2709407614 {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pricing-section-wrapper.jsx-2709407614 .grey-background.jsx-2709407614 {
    position: absolute;
    background: #f9f9f9;
    top: 220px;
    bottom: -48px;
    left: 0;
    right: 0;
    z-index: -1;
}

.twitter-carousel-wrapper.jsx-2709407614 {
    margin-top: 24px;
    width: 100%;
}

.faq-wrapper.jsx-2709407614 {
    width: 100%;
}

@media (max-width: 991px) {
    .middle-page-text.jsx-2709407614 {
        font-size: 24px;
    }
}

.social-media-icon.jsx-1009237492 .regular-icon-container.jsx-1009237492 {
    display: block;
}

.social-media-icon.jsx-1009237492 .colorful-icon-container.jsx-1009237492 {
    display: none;
}

.social-media-icon.jsx-1009237492:hover .regular-icon-container.jsx-1009237492:not(.force-display) {
    display: none;
}

.social-media-icon.jsx-1009237492:hover .colorful-icon-container.jsx-1009237492 {
    display: block;
}

.app-icons {
    margin: 16px 0;
}

.all-rights-reserved-component.jsx-3071674792 .monday-logo-wrapper.jsx-3071674792 {
    margin-bottom: 32px;
}

.all-rights-reserved-component.jsx-3071674792 .details.jsx-3071674792 {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .all-rights-reserved-component.jsx-3071674792 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

    }

    .all-rights-reserved-component.jsx-3071674792 .icons-wrapper.jsx-3071674792 {
        margin-left: 48px;
    }
}

.link.jsx-4019638165 {
    margin-bottom: 24px;
}

.link.jsx-4019638165:hover {
    color: #595AD4;
}

.link.jsx-4019638165 a.jsx-4019638165 {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.footer-category-component.jsx-3735872849 .title.jsx-3735872849 {
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
}

.palette-icons-container.jsx-792080720 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
    width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
    margin-right: 24px;
}

.palette-icons-container.jsx-792080720 .single-app-icon-wrapper.jsx-792080720 {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .palette-icons-container.jsx-792080720 {
        margin: 0 auto;
        padding: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 16px;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720:first-child {
        margin-right: auto;
    }

    .palette-icons-container.jsx-792080720 .icons-wrapper.jsx-792080720 {
        width: 240px;
        margin: 0 auto;
        margin-bottom: 8px;
    }
}




body, html {
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    overflow-x: hidden;
}

* {
    font-family: "sofia-pro", "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    outline: none;
}

button, a {
    cursor: pointer;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    margin: 0;
}

figcaption, figure, main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.plan-feature-wrapper.jsx-3066633563 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 24px;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
}

.plan-feature-wrapper.jsx-3066633563 .plan-feature.jsx-3066633563 {
    position: relative;
    font-size: 14px;
    padding-left: 16px;
    text-align: left;
    padding-right: 16px;
}

@media (max-width: 768px) {
    .plan-feature-wrapper.jsx-3066633563 .plan-feature.jsx-3066633563 {
        font-size: 18px;
    }
}
.single-item {
    width: 400px;
    margin: 0 auto;
}

.slick-slide {
    margin: 0 5px;
}

.slick-list {
    margin: 0px -5px 0px -5px;
}

button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}

button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}

.slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
.form-control {
    height: 40px;
    background-color: white;
    padding: 0 10px;
    border: 1px solid black;
}

.plan-price-number {
    font-weight: 700 !important;
}

.modal-signup-container.jsx-794562233 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 300;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(40, 40, 40, 0.94);
    z-index: 999;
    padding: 0px 16px;
}
.modal-signup-container2 .jsx-794562233 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 300;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(40, 40, 40, 0.94);
    z-index: 999;
    padding: 0px 16px;
}

.close-button.jsx-794562233 svg {
    width: 35px;
    height: 35px;
}

.close-button.jsx-794562233 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(153, 153, 153);
    fill: currentcolor;
}

.main-title.jsx-794562233 {
    font-size: 48px;
    color: rgb(250, 210, 0);
    text-align: center;

}

.secondary-title.jsx-794562233 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bottom-text.jsx-794562233 {
    font-size: 18px;
    color: white;
    vertical-align: top;
    line-height: 30px;
    margin: 0px 10px;
}

.bottom-part.jsx-794562233 {
    display: flex;
    margin-top: 8px;
}

.line.jsx-794562233 {
    background-clip: content-box;
    width: 60px;
    height: 30px;
    background-color: white;
    padding: 14px 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
}
.existing-plan {
    width: 100%;
    height: 30px;
} .label{
      margin: 5px 0px;
      width: 200px;
  }
.form-group2 {
    margin: 5px 20px
}