<span style='color: #000' title='Frames'>    77</span><span style='color: #009' title='Memory'>  15360.00 KB</span><span style='color: #900' title='Time'>    943.75 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />