<span style='color: #000' title='Frames'>    98</span><span style='color: #009' title='Memory'>  16384.00 KB</span><span style='color: #900' title='Time'>    693.73 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />