
				
				
				
				
				
				
				
				
				
				
 /* Primary background color */
    .table .progress .bar,
    .login .btn-primary .btn-success:hover{color: #ff0076; background-color: #0457b7;}
    .login .logo,
    .logo,
    .navbar-header { background-color: #ffffff;}
    .modal-header,
    .ui-slider-range,
    .ui-slider-handle:before,
    .chosen-container .chosen-results li.highlighted,
    .paginate_enabled_next, .paginate_enabled_previous,
    .datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover,
    .ui-slider-handle:before,
    .login .forgotpass-info, .login .forgotpass-success


    {
       
    }																														