/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

/* body */
body {
	padding: 0;
	margin: 0;
	background: #fff;
}

body, input, textarea {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 23px;
	color: #727272;
}

/* Headings */
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #393939;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	color: inherit;
}



h1 { 
	font-size: 35px; 
	line-height: 35px;
	margin-bottom: 30px;
}
h1.white {
	color: #fff;
}
h1.caps {
	text-transform: uppercase;
}
h1.gray {
	color: #999;
	font-weight: 400;
}


h2 { 
	font-size: 27px; 
	line-height: 32px;
	margin-bottom: 20px;
}
h2.white {
	color: #fff;
}
h2.caps {
	text-transform: uppercase;
}
h2.gray {
	color: #999;
	font-weight: 400;
}


h3 { 
	font-size: 21px; 
	line-height: 28px;
	margin-bottom: 18px;
}
h3.white {
	color: #fff;
}
h3.caps {
	text-transform: uppercase;
}
h3.gray {
	color: #999;
	font-weight: 400;
}


h4 { 
	font-size: 18px; 
	line-height: 25px;
	margin-bottom: 10px;
	font-style: normal;
}
h4.white {
	color: #fff;
}
h4.caps {
	text-transform: uppercase;
}

h4.gray {
	color: #999;
	font-weight: 400;
}

h5 { 
	font-size: 16px; 
	line-height: 23px;
	margin-bottom: 12px;
	font-style: normal;
}
h5.white {
	color: #fff;
}
h5.caps {
	text-transform: uppercase;
}
h5.gray {
	color: #999;
	font-weight: 400;
}

h6 { 
	font-size: 14px; 
	line-height: 23px;
	margin-bottom: 12px;
	font-style: normal;
}
h6.white {
	color: #fff;
}
h6.gray {
	color: #999;
	font-weight: 400;
}
h6.caps {
	text-transform: uppercase;
}
h6.white.uline {
	padding-bottom: 9px;
	text-decoration: underline;
}


/* Roboto font Titles */
h1.roboto, 
h2.roboto,
h3.roboto,
h4.roboto,
h5.roboto,
h6.roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #393939;
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	color: inherit;
}

h1.roboto { 
	font-size: 35px; 
	line-height: 35px;
	margin-bottom: 30px;
}
h1.roboto.caps {
	text-transform: uppercase;
}
h1.roboto.white {
	color: #fff;
}
h1.roboto.thin {
	font-weight: 200;
}
h1.roboto.gray {
	color: #999;
}

h2.roboto { 
	font-size: 27px; 
	line-height: 32px;
	margin-bottom: 20px;
}
h2.roboto.caps {
	text-transform: uppercase;
}
h2.roboto.white {
	color: #fff;
}
h2.roboto.thin {
	font-weight: 300;
}
h2.roboto.gray {
	color: #999;
}

h3.roboto { 
	font-size: 21px; 
	line-height: 28px;
	margin-bottom: 18px;
}
h3.roboto.caps {
	text-transform: uppercase;
}
h3.roboto.white {
	color: #fff;
}
h3.roboto.thin {
	font-weight: 300;
}
h3.roboto.gray {
	color: #999;
}

h4.roboto { 
	font-size: 18px; 
	line-height: 25px;
	margin-bottom: 10px;
	font-style: normal;
}
h4.roboto.white {
	color: #fff;
}
h4.roboto.caps {
	text-transform: uppercase;
}
h4.roboto.thin {
	font-weight: 300;
}
h4.roboto.gray {
	color: #999;
}

h5.roboto { 
	font-size: 16px; 
	line-height: 23px;
	margin-bottom: 12px;
	font-style: normal;
}
h5.roboto.white {
	color: #fff;
}
h5.roboto.caps {
	text-transform: uppercase;
}
h5.roboto.thin {
	font-weight: 300;
}
h5.roboto.gray {
	color: #999;
}

h6.roboto { 
	font-size: 14px; 
	line-height: 23px;
	margin-bottom: 12px;
	font-style: normal;
}
h6.roboto.white {
	color: #fff;
}
h6.roboto.caps {
	text-transform: uppercase;
}
h6.roboto.thin {
	font-weight: 300;
}
h6.roboto.gray {
	color: #999;
}

h1.roboto.dark, 
h2.roboto.dark,
h3.roboto.dark,
h4.roboto.dark,
h5.roboto.dark,
h6.roboto.dark {
	color: #181818;
}

h1.roboto.lbtcolor, 
h2.roboto.lbtcolor,
h3.roboto.lbtcolor,
h4.roboto.lbtcolor,
h5.roboto.lbtcolor,
h6.roboto.lbtcolor {
	color: #3498db;
}


/* Text elements */
p {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 23px;
}
.smtfont {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}
.bigtfont {
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
}
.bigtfont.gray {
	color: #999;
}

p.gray {
	color: #999;
	font-weight: 300;
	line-height: 25px;
}


ul.defaulf {
	list-style: inherit;
	margin: 0 0 0 14px;
}
ul.defaulf li {
	list-style: inherit;
	padding: 4px 0 4px 2px;
}

ul, ol {
	margin: 0 0 20px 0;
	list-style-position: inside;
}
ul {
	list-style: none;
}
ul li {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 20px 0 20px 36px;
	font-size: 16px;
	border-left: 5px solid #e54c4c;
	padding: 5px 20px 5px 20px;
	font-family: 'Open Sans' !important;
	font-weight: normal;
	color: #454545;
}
pre {
	background: #f4f4f4;
	font-size: 13px;
	font: 13px 'Open Sans', sans-serif;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: auto;
	padding: 0.75em 20px;
}
code, kbd {
	font-size: 13px;
	font: 13px 'Open Sans', sans-serif;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 40px;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:15px 8px 0 0;
	text-transform: uppercase;
}


/* Links */
a {
	color: #00d647;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #454545;
}


blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* Clear Fix Styles */

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
{
	height:1%;
}

.clearfix
{
	display:block;
}

/* less width */
.less1 {
	width: 75%;
	margin: 0 auto;
}
.less2 {
	width: 50%;
	margin: 0 auto;
}
.less3 {
	width: 60%;
	margin: 0 auto;
}
.less4 {
	width: 45%;
	margin: 0 auto;
}
.less5 {
	width: 85%;
	margin: 0 auto;
}

.centf {
	text-align: center;
}


/* text color white */
.white {
	color: #fff;
}


/* margin bitween sections */
.margin_top1 {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.margin_top2 {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.margin_top3 {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.margin_top4 {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.margin_top5 {
	float: left;
	width: 100%;
	margin-top: 50px;
}
.margin_top6 {
	float: left;
	width: 100%;
	margin-top: 60px;
}
.margin_top7 {
	float: left;
	width: 100%;
	margin-top: 70px;
}
.margin_top8 {
	float: left;
	width: 100%;
	margin-top: 80px;
}
.margin_top9 {
	float: left;
	width: 100%;
	margin-top: 90px;
}
.margin_top10 {
	float: left;
	width: 100%;
	margin-top: 100px;
}
.margin_top11 {
	float: left;
	width: 100%;
	margin-top: 110px;
}
.margin_top12 {
	float: left;
	width: 100%;
	margin-top: 120px;
}
.margin_top13 {
	float: left;
	width: 100%;
	margin-top: 130px;
}
.margin_top14 {
	float: left;
	width: 100%;
	margin-top: 140px;
}
.margin_top15 {
	float: left;
	width: 100%;
	margin-top: 150px;
}
.margin_top16 {
	float: left;
	width: 100%;
	margin-top: 160px;
}
.margin_top17 {
	float: left;
	width: 100%;
	margin-top: 170px;
}
.margin_top18 {
	float: left;
	width: 100%;
	margin-top: 180px;
}


.margin_bottom1 {
	margin-bottom: 10px;
}
.margin_bottom2 {
	margin-bottom: 20px;
}
.margin_bottom3 {
	margin-bottom: 30px;
}
.margin_bottom4 {
	margin-bottom: 40px;
}
.margin_bottom5 {
	margin-bottom: 50px;
}
.margin_bottom6 {
	margin-bottom: 60px;
}
.margin_bottom7 {
	margin-bottom: 70px;
}
.margin_bottom8 {
	margin-bottom: 80px;
}
.margin_bottom9 {
	margin-bottom: 90px;
}
.margin_bottom10 {
	margin-bottom: 100px;
}
.margin_bottom11 {
	margin-bottom: 110px;
}
.margin_bottom12 {
	margin-bottom: 120px;
}


/* image alignments */
.img_left {
	float: left;
}

.img_left2 {
	float: left;
	margin-right: 30px;
}
.img_left5 {
	float: left;
	margin-right: 70px;
}

.img_right {
	float: right;
}

.img_left_mr {
	float: left;
	margin-right: 30px;
}
.img_left_mr2 {
	float: left;
	margin-right: 10px;
}
.img_left_mr3 {
	margin-right: 20px;
}
.img_left_mr4 {
	margin-right: 10px;
}
.img_left_mr5 {
	margin-right: 14px;
}

.img_right_ml {
	float: right;
	margin-left: 30px;
}
.img_right_ml2 {
	float: right;
	margin-left: 10px;
}

.alicent {
	text-align: center;
}
.aliright {
	text-align: right;
}



/* responsive image */
.rimg {
	width: 100%;
}