<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <a href="http://placehold.it/800x600" class="cbp-lightbox">
            <img src="http://placehold.it/800x600" alt="Dashboard">
        </a>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">Remind Me Widget</div>
        <div class="cbp-l-inline-subtitle">by GSRthemes9</div>

        <div class="cbp-l-inline-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!</div>

        <a href="#" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a>
    </div>
</div>
